$phone-width: 415px; // Apple iPhone 6+, 6s+, 7+, 8+ // 375px;
$ipad-width: 800px; // Samsung Galaxy Tab
$desktop-width: 1290px; // large screens


@mixin media($media) {
    @if $media == phone {
        @media only screen and (max-width: $phone-width) {
            @content;
        }
    }
    @else if $media == ipad {
        @media only screen and (max-width: $ipad-width) {
            @content;
        }
    }
    @else if $media == desktop {
        @media only screen and (min-width: $desktop-width) {
            @content;
        }
    }
}


$page-size: 1200;
$font-size: 15px;
$line-height: 1.5;
$border-radius: 3px;
$footer-height: 18em;

$transition-base: all 0.2s ease-out 0s;
$transition-slow: all 0.4s ease-out 0s;

$color-base: rgb(83, 114, 130);
$color-base-background: rgb(242, 242, 242);
$color-base-light: rgb(153, 153, 153);
$color-base-mark: rgb(214, 25, 0);
$color-base-dark: rgb(102, 102, 102);

$color-link-base: rgb(246, 83, 47);
$color-link-hover: $color-base;

$color-input: rgb(153, 153, 153);
$color-input-focus: $color-base;
$color-input-border: rgba(0, 0, 0, 0.1);
$color-input-background: rgb(255, 255, 255);
$color-input-required-border: rgba(255, 0, 0, 0.3);
$color-input-error: rgb(255, 0, 0);
$color-input-error-border: rgb(255, 0, 0);

$button-box-shadow: 0 2px 4px 0 rgba(246, 83, 47, 0.5);
$color-button: $color-base;
$color-button-background: rgb(238, 238, 238);
$color-button-background-hover: darken($color-button-background, 5%);

$color-button-background-red: rgb(246, 83, 47);
$color-button-red: rgb(255, 255, 255);
$color-button-background-blue: rgba(51, 122, 183, 0.9);
$color-button-blue: rgb(255, 255, 255);
$color-button-background-green: rgba(25, 135, 69, 0.9);
$color-button-green: rgb(255, 255, 255);
$color-button-background-yellow: rgba(255, 232, 105, 0.8);
$color-button-yellow: rgb(111, 99, 0);

$box-shadow: 0 0 4px 0 rgba(83, 114, 130, 0.3);

$select-color-border: $color-input-border;
$select-color-selected: rgb(5, 155, 206);
$select-color-red: rgba(255, 0, 0, 0.5);