$animation-delay: 0;
$animation-duration: 0.5s;
$animation-mode: both;

@mixin keyframe($animation-name) {
    .#{$animation-name} {
        //animation: 0.5s ease-in 0s normal both 1 running;
        animation-name: #{$animation-name} !important;
        -webkit-animation-name: #{$animation-name} !important;
        @include animation($animation-delay, $animation-duration, $animation-mode);
    }
    @keyframes #{$animation-name} {
        @content;
    }
    @-webkit-keyframes #{$animation-name} {
        @content;
    }
}
@mixin animation($animation-delay, $animation-duration, $animation-mode) {
    animation-delay: $animation-delay;
    animation-duration: $animation-duration;
    animation-fill-mode: $animation-mode;
    -webkit-animation-delay: $animation-delay;
    -webkit-animation-duration: $animation-duration;
    -webkit-animation-fill-mode: $animation-mode;
}


@include keyframe(fadeIn) {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@include keyframe(fadeInUp) {
    0% {
        opacity: 0;
        transform: translateY(100%);
        -webkit-transform: translateY(100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
        -webkit-transform: translateY(0);
    }
}

@include keyframe(fadeInDown) {
    0% {
        opacity: 0;
        transform: translateY(-100%);
        -webkit-transform: translateY(-100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
        -webkit-transform: translateY(0);
    }
}

@include keyframe(fadeInRight) {
    0% {
        opacity: 0;
        transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
        -webkit-transform: translateX(0);
    }
}

@include keyframe(fadeInLeft) {
    0% {
        opacity: 0;
        transform: translateX(100%);
        -webkit-transform: translateX(100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
        -webkit-transform: translateX(0);
    }
}

@include keyframe(fadeInRightFast) {
    0% {
        opacity: 0;
        transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
        -webkit-transform: translateX(0);
    }
}

@include keyframe(fadeInLeftFast) {
    0% {
        opacity: 0;
        transform: translateX(100%);
        -webkit-transform: translateX(100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
        -webkit-transform: translateX(0);
    }
}



@include keyframe(fadeOut) {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@include keyframe(fadeOutLeft) {
    0% {
        opacity: 1;
        transform: translateX(0);
        -webkit-transform: translateX(0);
    }
    100% {
        opacity: 0;
        transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
    }
}

@include keyframe(fadeOutRight) {
    0% {
        opacity: 1;
        transform: translateX(0);
        -webkit-transform: translateX(0);
    }
    100% {
        opacity: 0;
        transform: translateX(100%);
        -webkit-transform: translateX(100%);
    }
}

@include keyframe(fadeOutLeftFast) {
    0% {
        opacity: 1;
        transform: translateX(0);
        -webkit-transform: translateX(0);
    }
    100% {
        opacity: 0;
        transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
    }
}

@include keyframe(fadeOutRightFast) {
    0% {
        opacity: 1;
        transform: translateX(0);
        -webkit-transform: translateX(0);
    }
    100% {
        opacity: 0;
        transform: translateX(100%);
        -webkit-transform: translateX(100%);
    }
}

@include keyframe(fadeOutLeftFast) {
    0% {
        opacity: 1;
        transform: translateX(0);
        -webkit-transform: translateX(0);
    }
    100% {
        opacity: 0;
        transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
    }
}

@include keyframe(fadeOutRightFast) {
    0% {
        opacity: 1;
        transform: translateX(0);
        -webkit-transform: translateX(0);
    }
    100% {
        opacity: 0;
        transform: translateX(100%);
        -webkit-transform: translateX(100%);
    }
}

@include keyframe(fadeOutUp) {
    0% {
        opacity: 1;
        transform: translateY(0);
        -webkit-transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(-100%);
        -webkit-transform: translateY(-100%);
    }
}

@include keyframe(fadeOutDown) {
    0% {
        opacity: 1;
        transform: translateY(0);
        -webkit-transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(100%);
        -webkit-transform: translateY(100%);
    }
}



@include keyframe(slideInRight) {
    0% {
        transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
        -webkit-transform: translateX(0);
    }
}
@include keyframe(slideInLeft) {
    0% {
        transform: translateX(100%);
        -webkit-transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
        -webkit-transform: translateX(0);
    }
}

@include keyframe(slideOutLeft) {
    0% {
        transform: translateX(0);
        -webkit-transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
    }
}

@include keyframe(slideOutRight) {
    0% {
        transform: translateX(0);
        -webkit-transform: translateX(0);
    }
    100% {
        transform: translateX(100%);
        -webkit-transform: translateX(100%);
    }
}

@include keyframe(shake) {
    0% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
    }
    94%, 88% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
    }
    96%, 90% {
        transform: rotate(10deg);
        -webkit-transform: rotate(10deg);
    }
    98%, 92% {
        transform: rotate(-10deg);
        -webkit-transform: rotate(-10deg);
    }
    100% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
    }
}
