* {
    margin: 0;
    box-sizing: border-box;
}
HTML, BODY {height:100%;}
BODY {
    font-family: 'RobotoLight', Arial, sans-serif;
    height: 100%;
    width: 100%;
    color: $color-base;
    font-size: $font-size;
    line-height: $line-height;
    font-weight: 300;
    background-color: $color-base-background;
}

:focus { outline: 0; }

IMG {border:0;}

A {
    color: $color-link-base;
    text-decoration:none;
    transition: $transition-base;
    &:hover {
        color: $color-link-hover;
    }
    &:focus {
        color: $color-link-hover;
    }
    & > svg {
        fill: currentcolor;
        height: 1em;
        vertical-align: middle;
        width: 1em;
    }
}

B {font-weight: bold;}
P {margin: 1em 0;}

TABLE {border-collapse:collapse;}
TD {vertical-align:top;}

H1, H2, H3, H4 {
}
LABEL {cursor:pointer;}

.dno {display:none;}

.clear:after {
    clear: both;
    content: ".";
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    visibility: hidden;
}

NAV UL, UL[role='navigation'] {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
UL {
    list-style: outside none none;
}

.price {
    color: $color-base-mark;
    font-weight: bold;
}
.price:after {
    font-family: 'Rouble', sans-serif;
    content: 'i';
    margin-left: 0.3em;
    text-transform: none;
    color: $color-base;
    font-weight: lighter;
}

MARK {
    background-color: transparent;
    color: inherit;
}

.page-size {
    margin: 0 auto;
    max-width: $page-size +px;
    padding: 0 2%;
}

