@font-face {
    font-family: "RobotoLight";
    src: url("/fonts/RobotoLight.eot");
    src: url("/fonts/RobotoLight.eot?#iefix") format("embedded-opentype"),
    url("/fonts/RobotoLight.woff") format("woff"),
    url("/fonts/RobotoLight.ttf") format("truetype");
    font-style: normal;
    font-weight: 300;
}
@font-face {
    font-family: "RobotoRegular";
    src: url("/fonts/RobotoRegular.eot");
    src: url("/fonts/RobotoRegular.eot?#iefix") format("embedded-opentype"),
    url("/fonts/RobotoRegular.woff") format("woff"),
    url("/fonts/RobotoRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Rouble";
    src: url("/fonts/rouble.eot");
    src: url("/fonts/rouble.eot?#iefix") format("embedded-opentype"),
    url("/fonts/rouble.woff") format("woff"),
    url("/fonts/rouble.ttf") format("truetype"),
    url("/fonts/rouble.svg#Rouble") format("svg");
    font-style: normal;
    font-weight: normal;
}