%input {
    border-radius: $border-radius;
    font-family: inherit;
    font-size: inherit;
    color: $color-input;
    margin: 0.5em 0;
    width: 100%;
    border: 1px solid $color-input-border;
    transition: $transition-base;
    background-color: $color-input-background;
    vertical-align: middle;
    display: inline-block;
    position: relative;
    line-height: inherit;
    padding: 0.5em 1em;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    box-shadow: none !important;
    &:focus {
        color: $color-input-focus;
        border-color: $color-input-focus;
    }
}

%label {
    position: absolute;
    left: 1em;
    font-size: 70%;
    top: -0.2em;
    color: $color-input;
    transition: $transition-slow;
    background-color: $color-input-background;
    cursor: default;
    padding: 0 0.5em;
}

INPUT {
    @extend %input;
    &[required] {
        border-color: $color-input-required-border;
    }
}
TEXTAREA {
    @extend %input;
    resize: vertical;
}
SELECT {
    @extend %input;
}
INPUT[type="radio"] {
    width: auto;
    margin: 0.5em;
    -webkit-appearance: radio;
    -moz-appearance: radio;
    appearance: radio;
}
INPUT[type="checkbox"] {
    width: auto;
    margin: 0.5em;
    -webkit-appearance: checkbox;
    -moz-appearance: checkbox;
    appearance: checkbox;
}
INPUT[type="number"] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
}

@for $i from 1 through 10 {
    INPUT[size="#{$i}"] {
        width: 1em * $i + 2em;
        text-align: center;
    }
}

INPUT[data-type="date"] {
    width: 10em;
    text-align: left;
    & ~ I:before {
        -moz-osx-font-smoothing: grayscale;
        color: transparentize($color-input-focus, 0.8);
        content: "\f073";
        font-family: FontAwesome, sans-serif;
        text-rendering: auto;
        font-size: inherit;
        font-style: normal;
        position: relative;
        top: 0.1em;
        right: 1.5em;
    }
}

DL {
    & > FORM {
        margin-left: 5%;
        width: 90%;
    }
    DT {
        float: left;
        width: 25%;
        margin: 0 1% 0.5em 0;
        clear: left;
        & > SPAN {
            color: rgba(255, 102, 102, 1);
            margin-left: 0.2em;
        }
    }
    DD {
        float: left;
        width: 74%;
        margin: 0 0 0.5em 0;
        &:last-child {
            margin-top: 1em;
        }
    }
}

.text-field {
    position: relative;
    INPUT, TEXTAREA {
        & + LABEL {
            @extend %label;
        }
        &:focus {
            & + LABEL {
                color: $color-input-focus;
            }
            &:invalid {
                @extend INPUT.error;
            }
        }
        &:valid {
            color: $color-input-focus;
        }
        &[readonly], &:disabled {
            background-color: darken($color-input-background, 3%);
            color: lighten($color-input, 8%);
        }
        &.error {
            color: $color-input-error;
            border-color: $color-input-error-border;
        }
    }
    &.inline {
        display: inline-block;
    }
    @include media(phone) {
        &.c1of4 {
            width: 49.3%; // why???
        }
    }
}

.radio-field {
    @extend .text-field;
    @extend %input;
    INPUT[type="radio"] + LABEL,
    INPUT[type="checkbox"] + LABEL {
        cursor: pointer;
        position: initial;
        font-size: 90%;
    }
    LABEL:last-of-type {
        @extend %label;
        top: -1em;
    }
    &:focus {
        LABEL {
            color: $color-input-focus;
        }
    }
}

.select-field {
    @extend .text-field;
    SELECT {
        //color: transparent;
        box-shadow: none;
        background: transparent none;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        OPTION {
            color: $color-input-focus;
        }
        & + LABEL {
            @extend %label;
        }
        &[required] {
            @extend INPUT[required];
        }
        &:focus {
            outline: none;
            & + LABEL {
                color: $color-input-focus;
            }
            &:invalid {
                @extend INPUT.error;
            }
        }
        &:valid {
            //@extend INPUT:valid;
        }
        &[readonly], &:disabled {
            @extend INPUT[readonly];
        }
        &.error {
            @extend INPUT.error;
        }
    }
    &:after {
        top: 50%;
        right: 1em;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border: 6px solid transparent;
        border-top-color: $color-input;
        margin-top: -2px;
        z-index: 70;
    }
}

.editor-field {
    @extend .text-field;
    padding-top: 0.5em;
    TEXTAREA {
        margin-top: 0;
        border-top: 0 none;
        color: $color-input-focus;
        min-height: 10em;
        line-height: 1.2;
        & + LABEL {
            display: none;
        }
    }
}



@mixin button-type($color-button, $color-button-background) {
    color: $color-button;
    background-color: $color-button-background;
    border: 1px solid $color-button-background;
    &:hover {
        background-color: darken($color-button-background, 5%);
    }
    &:active {
        background-color: darken($color-button-background, 10%);
    }
}

@mixin box-shadow($rise: false) {
    @if $rise {
        box-shadow: 0 4px 5px  0 rgba(0, 0, 0, 0.14),
                    0 1px 10px 0 rgba(0, 0, 0, 0.12),
                    0 2px 4px  -1px rgba(0, 0, 0, 0.2);
    } @else {
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
                    0 3px 1px -2px rgba(0, 0, 0, 0.2),
                    0 1px 5px 0 rgba(0, 0, 0, 0.12);
    }
}

%button {
    @extend %input;

    border-radius: 1.5em;
    font-family: "RobotoRegular", sans-serif;
    cursor: pointer;
    border: 0 none;
    width: auto;
    overflow: hidden;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    vertical-align: text-top;
    line-height: 1.1;
    letter-spacing: 0.04em;
    padding: 0.6em 1em;
    color: $color-button;
    background-color: $color-button-background;
    box-shadow: $button-box-shadow;
    & > I:not(.only) {
        margin-right: 0.5em;
    }
    &:hover {
        background-color: $color-button-background-hover;
    }
    &:active {
        background-color: $color-button-background-hover;
    }
    &:focus {
        background-color: $color-button-background-hover;
        border: 0 none;
    }
    &[readonly], &[disabled], &:disabled, &.disabled {
        background-color: darken($color-input-background, 3%) !important;
        color: lighten($color-input, 8%) !important;
        cursor: not-allowed;
    }
    @media (min-width: $phone-width) {
        & + INPUT[type="submit"],
        & + INPUT[type="button"],
        & + A[role="button"],
        & + BUTTON {
            margin-left: 1em;
        }
    }
    @include media(phone) {
        margin: 1em auto;
        width: 95%;
        display: block;
        text-align: center;
    }
}

INPUT[type="button"], A[role="button"], BUTTON {
    @extend %button;
}
INPUT[type="button"][role="delete"], BUTTON[role="delete"], A[role="button delete"],
INPUT[type="button"].button-delete, BUTTON.button-delete, A[role="button"].button-delete,
INPUT[type="button"].button-red, BUTTON.button-red, A[role="button"].button-red {
    @extend  %button;
    @include button-type($color-button-red, $color-button-background-red);
}
INPUT[type="submit"], BUTTON[role="save"], A[role="button save"], A[role="button add"],
INPUT[type="button"].button-green, BUTTON.button-green, A[role="button"].button-green {
    @extend  %button;
    @include button-type($color-button-red, $color-button-background-red);
    //@include button-type($color-button-green, $color-button-background-green);
}
INPUT[type="button"].button-blue, BUTTON.button-blue, A[role="button"].button-blue {
    @extend  %button;
    @include button-type($color-button-blue, $color-button-background-blue);
}
INPUT[type="button"].button-yellow, BUTTON.button-yellow, A[role="button"].button-yellow {
    @extend  %button;
    @include button-type($color-button-yellow, $color-button-background-yellow);
}
INPUT[type="button"].button-flat, BUTTON.button-flat, A[role="button"].button-flat {
    @extend  %button;
    @include button-type(inherit, rgb(255, 255, 255));
}
INPUT[type="button"].button-transparent, BUTTON.button-transparent, A[role="button"].button-transparent {
    @extend  %button;
    @include button-type(inherit, transparent);
}
