$flex-space: space-around;
$flex-row: row;
$flex-align-items: stretch;
$flex-wrap: wrap;


.grid_row:after, .grid-row:after {
    clear: both;
    content: ".";
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    visibility: hidden;
}
.grid_cell, .grid-cell {
    float: left;
}
.grid-cell.cell-right {
    float: right;
}

@mixin grid-cell($cell) {
    @for $i from 1 through $cell {
        .c#{$i}of#{$cell} {
            $value: #{(100 / $cell * $i * 1%)};
            width: $value;
            @include media(phone) {
                width: 100%;
            }
        }
    }
}

@for $i from 1 through 16 {
    @include grid-cell($i);
}



@mixin flex-grid($flex-space, $flex-row, $flex-align-items, $flex-wrap) {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: $flex-space;
    justify-content: $flex-space;
    -webkit-flex-flow: $flex-row $flex-wrap;
    flex-flow: $flex-row $flex-wrap;
    -webkit-align-items: $flex-align-items;
    align-items: $flex-align-items;
}

.flex-grid, .flex-row {
    @include flex-grid($flex-space, $flex-row, $flex-align-items, $flex-wrap);
    &.nowrap {
        -webkit-flex-wrap: nowrap;
        flex-wrap: nowrap;
    }
    @include media(phone) {
        -webkit-flex-direction: column;
        flex-direction: column;
    }
}

@for $i from 1 through 16 {
    .flex-grow#{$i} {
        -webkit-flex-grow: $i;
        flex-grow: $i;
        -webkit-flex-basis: 0;
        flex-basis: 0;
    }
}
