HEADER {
    background: transparent url('/img/welcome-banner_01.jpg') no-repeat center top / cover;
    color: rgb(255, 255, 255);
    .header-row {
        @include flex-grid(space-between, row, stretch, nowrap);
        .user-info {
            margin: 2% 3%;
            text-align: right;
            A {
                font-weight: bold;
                I {
                    color: $color-link-base;
                    margin-right: 0.5em;
                }
            }
            SPAN {
                font-size: 80%;
                font-style: italic;
                margin-left: 2.5em;
                display: block;
            }
            @include media(phone) {
                margin: 3%;
                font-size: 95%;
            }
            .popup-menu {
                position: relative;
                UL {
                    background-color: rgb(255, 255, 255);
                    border-radius: 4px;
                    box-shadow: $box-shadow;
                    position: absolute;
                    z-index: 10;
                    margin: 0;
                    padding: 0.2em 0;
                    list-style: none;
                    display: none;
                    right: 0;
                    top: 2em;
                    min-width: 22em;
                    text-align: left;
                    LI A {
                        color: $color-base;
                        display: block;
                        padding: 0.4em 0.8em;
                        font-weight: normal;
                        &:hover, &:focus {
                            background-color: lighten($color-base-background, 3%);
                            color: $color-link-base;
                        }
                    }
                    &.Over {
                        display: block;
                    }
                }
            }
        }
        .phone {
            text-shadow: 0 0 0.5em rgba(0, 0, 0, 1);
            font-size: 150%;
            font-weight: bold;
            margin: 2% 3%;
            flex-basis: 60%;
            @include flex-grid(flex-end, row, $flex-align-items, wrap);
            SMALL {
                display: block;
                font-weight: normal;
                font-size: 50%;
            }
            & > DIV {
                margin: 0 1em;
                @include media(phone) {
                    margin: 0;
                }
            }
            @include media(ipad) {
                flex-basis: 50%;
                font-size: 130%;
            }
            @include media(phone) {
                flex-basis: 47%;
                font-size: 115%;
            }
        }
    }
    &.white-header {
        background: rgb(255, 255, 255) none;
        color: $color-base;
        .phone {
            text-shadow: none;
        }
    }
    &.short-header {
        background: rgb(255, 255, 255) none;
        color: $color-base;
        .phone {
            text-shadow: none;
        }
    }
    .shadow {
        background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.5) 25%, rgba(0, 0, 0, 0) 100%);
        width: 100%;
        height: 100%;
        flex-basis: 100%;
        padding-top: 3em;
        padding-bottom: 1em;
    }
    H1, H2, H4 {
        font-size: 200%;
        font-weight: bold;
        text-align: center;
    }
    P {
        text-align: center;
    }
}
