BODY {
    @include media(desktop) {
        font-size: 80%;
    }
    @include media(ipad) {
    }
    @include media(phone) {
    }
}

#colmask {
    clear: both;
    float: left;
    position: relative;
    width: 100%;
    min-height: 100%;
}
#page-size {
    float: right;
    /*overflow: hidden;*/
    position: relative;
    height:100%;
    width: 85%;
    @include media(ipad) {
        width: 100%;
    }
}
#page-body {
    padding-bottom: 3em;
}
ASIDE {
    float: left;
    overflow: hidden;
    position: absolute;
    height: 100%;
    width: 15%;
    background: #FFFFFF;
    box-shadow: 0 2px 17px 0 rgba(83, 114, 130, 0.44);
    z-index: 1000;
    .logo {
        margin: 10%;
        width: 80%;
    }
    .fa-times {
        margin: 1em;
        display: none;
        @include media(ipad) {
            display: block;
        }
    }
    .addthis_inline_follow_toolbox {
        margin: 0 1em;
    }
    .list-filters {
        display: block;
        margin: 0 5%;
    }
    &#filters {
        display: none;
    }
    &#filters, &#menu {
        &.expanded {
            transform: translateX(0%);
        }
        @include media(ipad) {
            display: block;
            .logo {
                width: 30%;
            }
        }
    }
    @include media(ipad) {
        transform: translateX(-120%);
        transition: all 0.3s ease-in 0s;
        width: 80%;
        #global-search {
            background-color: transparent;
            margin-top: 0;
            display: block;
            .list-filters-element {
                .list-filters-label {
                    color: $color-base;
                }
                INPUT {
                    border: 1px solid $color-input-border;
                }
            }
        }
    }
}


.main-menu {
    text-align: center;
    margin: 2em auto;
    line-height: 3;
    A {
        color: $color-base;
        display: block;
        text-transform: uppercase;
        &:hover, &.selected {
            color: $color-base-mark;
        }
    }
}

.page-name {
    color: $color-base-mark;
    text-align: center;
    font-size: 250%;
    background-color: rgb(255, 255, 255);
    line-height: 2;
}
.page-signature {
    text-align: center;
    background-color: rgb(255, 255, 255);
    line-height: 2;
    padding-bottom: 2em;
    margin-bottom: 3em;
}

#page-wrapper {
    height: auto !important;
    margin: 0 auto -$footer-height;
    min-height: 100vh;
}
FOOTER, #page-pusher {
    height: $footer-height;
}
FOOTER {
    margin: -$footer-height auto 0;
    background-color: darken($color-base-background, 30%);
    color: rgb(255, 255, 255);
    font-size: 70%;
    padding: 2%;
    @include flex-grid(space-between, $flex-row, $flex-align-items, nowrap);
    @include media(ipad) {
        @include flex-grid(space-between, $flex-row, $flex-align-items, wrap);
        height: $footer-height * 1.3;
    }
    @include media(phone) {
        height: $footer-height * 2;
    }
    A {
        color: rgb(255, 255, 255);
    }
}

.empty-tip {
    text-align: center;
    font-style: italic;
    margin: 10em;
}
.content-element {
    width: 80%;
    margin: 3em auto;
    @include media(ipad) {
        width: 90%;
    }
}
.bubble {
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
    box-shadow: $box-shadow;
    font-size: smaller;
    position: relative;
    padding: 1em 2em;
    min-height: 6em;
    margin: 2.5em;
    &:before {
        content: " ";
        display: inline-block;
        vertical-align: middle;
        border: 1em solid transparent;
        border-right-color: #FFFFFF;
        height: 0;
        width: 0;
        position: absolute;
        top: 25%;
        left: -2em;
        @include media(phone) {
            border-right-color: transparent;
            border-top-color: #FFFFFF;
            top: 100%;
            left: 25%;
        }
    }
}
.mobile-logo {
    background-color: rgb(255, 255, 255);
    padding: 0.5em 1em;
    display: none;
    @include media(ipad) {
        @include flex-grid(space-between, row, center, nowrap);
    }
    .fa-bars, .fa-search {
        margin: 0.5em;
    }
    .logo {
        height: 3em;
    }
}
#cover {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 999;
    &.expanded {
        display: block;
    }
}



