
.TextareaPan {display:block;background-color:#EBEBEB;border-color:#C2C9CE;border-style:solid solid none;border-width:1px;padding:4px;width:90%;overflow:hidden;position:relative;}
.TextareaPan A {
    float:left;
    background-image:url('/img/texteditor.png');background-repeat:no-repeat;
    margin:0px 2px !important;
    vertical-align:middle;
    width:16px;
    height:16px;
    padding:1px;
    border:1px solid #EBEBEB;
    border-radius:2px;
}
.TextareaPan A:hover {
    background-color:#FCF3CC;
    border-color:#D3C47F;
}
.TextareaPan A.b     {background-position:0 0;}
.TextareaPan A.i     {background-position:0 -18px;}
.TextareaPan A.u     {background-position:0 -36px;}
.TextareaPan A.s     {background-position:0 -54px;}
.TextareaPan A.h     {background-position:0 -72px;}
.TextareaPan A.url   {background-position:0 -90px;}
.TextareaPan A.q     {background-position:0 -126px;}
.TextareaPan A.html  {background-position:0 -233px;}
.TextareaPan A.c     {background-position:0 -251px;}

.js.classHttp_Form_Textarea {
    display:block;
    height:500px;
    resize: none;
}
.js.classHttp_Form_TextEditor_Wysiwyg {
    height:500px;
    border: 1px solid #B3B3B3;
    border-radius: 2px 2px 2px 2px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12) inset;
    color: #4D4D4D;
    font-family: inherit;
    font-size: 13px;
    line-height: normal;
    padding: 2px 4px;
    vertical-align: baseline;
    width: 90%;
}