$image-height: 20em;

.list-banners {
    @include flex-grid(space-around, row, stretch, wrap);
    &.index-banners {
        padding: 1em 1%;
    }
    & > .list-banners {
        flex-grow: 1;
        flex-basis: 50%;
        @include media(ipad) {
            flex-basis: 100%;
        }
    }
    .banner-element {
        height: $image-height;
        flex-grow: 1;
        flex-basis: 40%;
        border-radius: 4px;
        margin: 0.5em;
        box-shadow: 0 0 4px 0 rgba(83, 114, 130, 0.3);
        color: #FFFFFF;
        text-decoration: none;
        @include media(phone) {
            flex-basis: 100%;
        }
        A {
            display: block;
            &:hover {
                color: #FFFFFF;
                text-decoration: none;
            }
        }
        .banner-cover {
            height: 100%;
            width: 100%;
            padding: 1em;
            border-radius: 4px;
            position: relative;
            .banner-header {
                text-transform: uppercase;
                background-color: rgba(255, 255, 255, 1);
                width: 100%;
                padding: 0.5em 1em;
                border-radius: 0 0 4px 4px;
                color: #000000;
                font-size: 115%;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                position: absolute;
                left: 0;
                bottom: 0;
                font-family: 'RobotoRegular', sans-serif;
                @include media(phone) {
                    white-space: normal;
                }
            }
            .banner-description {
                position: absolute;
                bottom: 5em;
                left: 0;
                padding: 0 1em;
                display: none;
            }
        }
        .banner-price {
            color: rgba(255, 255, 255, 0.8);
            font-size: 130%;
            position: absolute;
            top: 1em;
            & > SPAN {
                color: rgba(255, 255, 255, 1);
            }
        }
        &.col2 {
            .banner-header {
                font-size: 140%;
                @include media(ipad) {
                    font-size: 120%;
                }
            }
            .banner-description {
                display: block;
            }
        }
        &.row2 {
            height: $image-height * 2 + 1em;
            @include media(phone) {
                height: $image-height;
            }
            .banner-header {
                font-size: 180%;
                @include media(ipad) {
                    font-size: 140%;
                }
            }
            .banner-price {
                font-size: 180%;
            }
        }
    }
}
