.blog-list {
    @include flex-grid(space-around, row, stretch, wrap);
    .blog-list-element {
        border-radius: 4px;
        margin: 0.8em;
        background-color: rgb(255, 255, 255);
        box-shadow: $box-shadow;
        flex-basis: calc((100% - (0.8em * 6)) / 3);
        flex-grow: 0;
        @include media(ipad) {
            margin: 0.3em;
            flex-basis: calc(100% - 0.6em);
        }
        .blog-element-image {
            display: block;
            background-position: center top;
            background-size: cover;
            border-radius: 4px 4px 0 0;
            height: 14em;
            @include media(desktop) {
                height: 20em;
            }
        }
        .blog-element-desc {
            padding: 5%;
            display: flex;
            flex-direction: column;
            align-content: stretch;
            H3 {
                min-height: 3em;
                overflow: hidden;
                text-overflow: ellipsis;
                font-size: 130%;
                margin-bottom: 0.3em;
                A {
                    color: inherit;
                }
            }
        }
    }
}

.blog-element {
    width: 90%;
    margin: 3em auto;
    IMG {
        width: 100%;
        object-fit: cover;
        height: 30em;
        margin: 1em auto;
        border-radius: 4px;
    }
    .youtube {
        width: 100%;
        height: 630px;
        @include media(ipad) {
            height: 315px;
        }
        @include media(phone) {
            height: 165px;
        }
    }
}
