.cart-list {
    width: 80%;
    margin: 3em auto;
}

.cart-top .fa-stack-1x:nth-child(2) {
    left: 0.35em;
}

.cart-element {
    border-bottom: 1px solid rgba(83, 114, 130, 0.3);
    transition: all 0.3s ease 0s;
}
.cart-element .grid-cell {
    padding: 1em 0.5em;
}
.cart-element .element-name, .cart-top .element-name, .cart-total .element-name {
    width: 60%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.cart-element .element-name H3 {
    font-size: 130%;
    color: #D61900;
    line-height: 2;
}
.cart-element .element-name H4 {
    color: #D61900;
    line-height: 2;
}
.cart-element .element-name UL {
    font-size: 90%;
}
.cart-element .element-quantity, .cart-top .element-quantity, .cart-total .element-quantity {
    width: 6em;
    text-align: center;
}
.cart-element .element-quantity INPUT {
    text-align: center;
    width: 2.2em;
    transition: all 0.3s linear 0s;
    padding: 0.2em;
}
.cart-element .element-minus {
    float: left;
    cursor: pointer;
}
.cart-element .element-plus {
    float: right;
    cursor: pointer;
}
.cart-element .element-minus:before, .cart-element .element-plus:before {
    position: relative;
    top: 1em;
}
.cart-element.element-extras .element-name {
    white-space: normal;
}
.element-delete {
    width: 1em;
}
.element-delete > I {
    cursor: pointer;
}
.cart-element .element-price, .cart-top .element-price, .cart-total .element-price {
    min-width: 10em;
    padding-left: 2em !important;
}

.cart-total {
    margin-bottom: 2em;
    font-size: 110%;
}
.cart-total .grid-cell {
    padding: 0.9em 0.4em 0.9em 1.3em !important;
}
.cart-total .element-name {
    text-align: right;
}

.extras-list {
    width: 80%;
    margin: 3em auto;
}

/* DoContacts */
.cart-contacts {
    width: 80%;
    margin: 3em auto;
}
.cart-contacts > DIV {
    margin-bottom: 3em;
}
.cart-contacts .bookmarks-tab {
    background-color: #ffffff;
    border-radius: 4px;
    box-shadow: 0 0 4px 0 rgba(83, 114, 130, 0.3);
    color: #537282;
    padding: 0.5em 1em;
    flex-basis: 40%;
    font-size: 150%;
}
.cart-contacts .bookmarks-tab:hover {
    color: #F6532F;
    background-color: rgba(0, 0, 0, 0.01);
}
.cart-contacts .bookmarks-tab.selected {
    color: #F6532F;
}
.cart-contacts .bookmarks-tab I {
    color: #f6532f;
    margin-right: 0.5em;
}
.js.Bookmarks_Content {
    display: none;
}
.js.Bookmarks_Content.selected {
    display: block;
}

/* DoEnterData */
.cart-data {
    width: 80%;
    margin: 3em auto 0;
    .flex-row {
        & > DIV:last-child {
            margin-left: 1em;
        }
    }
    H2 {
        margin-bottom: 1em;
    }
    LABEL {
        margin-right: 1em;
    }
    INPUT[data-type='number'] {
        width: 10em;
    }
    .traveler-separator {
        border-bottom: 1px dashed rgba(83, 114, 130, 0.3);
        margin: 1em;
    }
    INPUT[type='submit'] {
        margin-top: 2em;
    }
    BUTTON.AddTraveler {
        display: block;
        margin: 1em auto;
        width: 50%;
    }
}

/* DoCartDelivery */
.cart-delivery {
    width: 80%;
    margin: 3em auto 0;
    H2 {
        margin-bottom: 1em;
    }
    DT {
        margin-bottom: 2em;
        width: 40%;
    }
    DD {
        width: 59%;
        &:last-child {
            margin: 0 0 0.5em;
        }
    }
    INPUT[type='submit'] {
        margin-top: 2em;
    }
}
#delivery-data {
    border-top: 1px solid rgba(83, 114, 130, 0.3);
    margin-top: 3em;
    padding-top: 3em;
}

.order-edit {
    @extend .order-data;
}

@media (max-width: 430px) {
    .cart-data, .cart-contacts, .extras-list, .cart-list {
        width: 96%;
    }
    .cart-top {
        display: none;
    }
    .cart-element .element-name, .cart-top .element-name {
        width: 100%;
    }
    .cart-total .element-name {
        width: 45%;
    }
    .cart-element .element-price, .cart-top .element-price, .cart-total .element-price {
        min-width: 6em;
        padding-left: 1em !important;
    }
    .cart-data .grid-cell, .cart-element .element-name .grid-cell {
        float: none;
        width: 100%;
    }
    .cart-data BUTTON, INPUT[type='button'] {
        width: 80%;
    }
    .cart-contacts {
        min-height: 130vh;
    }
    .cart-contacts .flex-row {
        flex-direction: column-reverse;
    }
}
