.cities-list {
    width: 80%;
    margin: 0 auto;
}
.cities-list-element {
    margin: 1em 0;
    .list-images {
        margin: 1em 0;
        IMG {
            border-radius: 4px;
            width: 22.5%;
            margin: 1%;
            @include media(phone) {
                width: 47%;
            }
        }
    }
}

.cities-element {
    width: 80%;
    margin: 0 auto;
    .list-images {
        margin: 2em 0;
        IMG {
            border-radius: 4px;
            width: 31%;
            margin: 1%;
            @include media(phone) {
                width: 98%;
            }
        }
    }
}

