.order-data {
    @extend .cart-data;
    width: 90%;
    .status-name {
        font-style: italic;
        font-weight: normal;
        color: #D61900;
    }
    .order-sum {
        border-top: 1px solid rgba(83, 114, 130, 0.3);
        font-size: 120%;
        margin-top: 1em;
        padding: 1em;
    }
    .order-actions {
        margin-top: 1em;
        padding: 1em;
    }
    .order-element {
        border-bottom: 1px solid rgba(83, 114, 130, 0.3);
        &:last-child {
            border-bottom: 0 none;
        }
        .grid-cell {
            padding: 1em 0.5em;
        }
        .element-number {
            min-width: 11em;
        }
        .element-name {
            width: 33%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            .fa-stack {
                height: 1.7em;
                line-height: 1.5em;
            }
            .fa-stack-1x:nth-child(2) {
                left: 0.35em;
            }
        }
        .element-sum {
            min-width: 7em;
        }
        .element-manager {
            text-overflow: ellipsis;
            overflow: hidden;
            max-width: 10em;
            min-width: 10em;
            font-size: smaller;
        }
        .element-status {
            font-size: smaller;
            max-width: 10em;
            min-width: 10em;
        }
    }
    .order-element-actions {
        padding: 1em 0.5em;
    }
}

#company-orders-search {
    border-bottom: 1px solid rgba(83, 114, 130, 0.3);
    padding-bottom: 1em;
    text-align: right;
    .list-filters {
        justify-content: flex-end;
        .list-filters-element {
            position: relative;
            color: rgba(0, 0, 0, 1);
            display: inline-block;
            text-align: left;
            .list-filters-label {
                color: rgba(83, 114, 130, 0.8);
                font-size: 70%;
            }
            .radio {
                margin: 0.7em 0.5em;
            }
            .list-filters-date {
                width: 8em;
            }
            & + I:before {
                top: 0;
            }
        }
    }
}

.dispatch-data {
    width: 80%;
    margin: 3em auto 0;
    .dispatch-element {
        padding: 1em 0.5em;
        border-bottom: 1px solid rgba(83, 114, 130, 0.3);
        .element-name {
            width: 50%;
            H3 {
                color: #D61900;
            }
        }
        &:last-child {
            border-bottom: 0 none;
        }
    }
    .trip-element .element-desc {
        margin: 1em 2em 0 0;
        font-style: italic;
    }
}

