#global-search {
    margin: 3em auto 0;
    width: 90%;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: $border-radius;
    padding: 1em;
    @include media(ipad) {
        display: none;
    }
    .list-filters-element:first-child {
        flex-basis: 65%;
    }
}

.list-filters {
    @include flex-grid(space-between, row, center, nowrap);
    @include media(phone) {
        flex-wrap: wrap;
    }
    .list-filters-element {
        position: relative;
        font-size: 110%;
        @include media(phone) {
            margin-bottom: 1em;
        }
        .box-select {
            margin: 0;
            line-height: 2;
            border: 0 none;
            padding: 0;
        }
        INPUT {
            margin: 0;
            padding: 0 0 0 0.5em;
            line-height: 2;
            border: 0 none;
        }
        BUTTON, A[role="button"] {
            margin: 1em 0 0 0;
        }
        .list-filters-label {
            color: rgba(255, 255, 255, 0.8);
            font-size: 80%;
        }
        .list-filters-select {
            .box-select {
                background-color: rgb(255, 255, 255);
                border: 0 none;
                .select-all {
                    left: 0;
                }
            }
        }
        .list-filters-date {
            & + I:before {
                top: 0;
            }
        }
        .box-select {
            margin: 0;
        }
    }
}
