.box-select {
    position: relative;
    padding: 0.2em 0.5em;
    @extend %input;
    .select-arrow {
        white-space: nowrap;
        overflow: hidden;
        cursor: pointer;
        line-height: 2;
        &:after {
            font-family: FontAwesome, sans-serif;
            font-size: inherit;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;

            /*content: "\f078";*/
            content: "\f107";
            position: absolute;
            right: 0;
            top: 0;
            background-color: $select-color-border;
            padding: 0.2em 0.5em;
        }
        & > DIV {
            padding-left: 0.5em;
            border: 0;
            font-size: inherit;
            margin: 0;
            cursor: inherit;
            text-overflow: ellipsis;
            width: 100%;
        }
    }
    & > INPUT {
        border: 0 none;
        padding: 0 !important;
    }
    .select-all {
        background-color: $color-input-background;
        top: $font-size * $line-height + 0.2 * $font-size * $line-height * 2 - 1px;
        left: 0;
        position: absolute;
        z-index: 1000;
        border-radius: 0 0 $border-radius $border-radius;
        border: 1px solid $select-color-border;
        border-top: 0 none;
        width: 100%;
        display: none;
        .select-values {
            max-height: 8em * $line-height;
            overflow-x: hidden;
            overflow-y: auto;
            list-style: none outside none;
            padding: 0;
            font-size: inherit;
            line-height: 1.5;
            LI, LI A {
                white-space: nowrap;
                display: block;
                text-decoration: none;
                color: $color-base;
                transition: none;
                padding: 0.2em 0.5em;
                cursor: pointer;
                &.red, &.red:hover {
                    color: $select-color-red;
                }
                &:hover {
                    background-color: lighten($color-base-background, 3%);
                    color: $select-color-selected;
                }
                &[data-level="1"] {

                }
                &[data-level="2"] {
                    padding-left: 1em;
                }
                &[data-level="3"] {
                    padding-left: 2em;
                    color: $color-base-mark;
                }
            }
            .values-children {
                left: 100%;
                top: -1px;
                max-height: 280px;
                overflow-x: auto;
                position: absolute;
                display: none;
            }
        }
    }
}

.select-cancel {display:inline-block;vertical-align:middle;margin-left:0px;}

.box-select.w50 {width:50px;}
.box-select.w100 {width:100px;}
.box-select.w150 {width:150px;}
.box-select.w200 {width:200px;}

.box-select.w50 .select-all {width:49px;}
.box-select.w100 .select-all {width:99px;}
.box-select.w150 .select-all {width:149px;}
.box-select.w200 .select-all {width:199px;}


.select-input {
    display: inline-block;
    .select-arrow {
        padding: 1px 3px;
        background: none repeat scroll 0 0 transparent;
        DIV {
            width: auto !important;
        }
    }
}

