.subscribe {
    width: 80%;
    margin: 0 auto;
    INPUT {
        width: 50%;
        margin-right: 1em;
        @include media(phone) {
            width: auto;
        }
    }
    BUTTON {
        vertical-align: middle;
        width: auto !important;
        display: inline-block !important;
    }
}
