.trip-list {
    display: flex;
    flex-wrap: wrap;
    padding: 0 1%;
    margin-top: 1em;

    .trip-list-element {
        border-radius: 4px;
        margin: 0.8em;
        background-color: rgb(255, 255, 255);
        box-shadow: $box-shadow;
        animation: 1s ease-in-out 0s normal both 1 running;
        flex-basis: calc((100% - (0.8em * 6)) / 3);
        flex-grow: 0;
        @include media(ipad) {
            margin: 0.3em;
            flex-basis: calc(100% - 0.6em);
        }
        .list-element-image {
            background-position: center top;
            background-size: cover;
            border-radius: 4px 4px 0 0;
            height: 18em;
            position: relative;
            @include media(desktop) {
                height: 30em;
            }
            & > A {
                display: block;
                height: 100%;
            }
        }
        .list-element-shadow {
            background-image: linear-gradient(25deg, rgba(50, 50, 50, 0.8), rgba(0, 0, 0, 0) 50%);
            color: rgba(255, 255, 255, 0.8);
            height: 100%;
            padding: 13.5em 5% 0 5%;
            font-size: 115%;
            @include flex-grid(space-between, row, stretch, nowrap);
            @include media(ipad) {
                padding-top: 10.5em;
                font-size: 145%
            }
            @include media(desktop) {
                padding-top: 20.5em;
                font-size: 135%;
            }
            //& > DIV {
            //    background-color: rgba(0, 0, 0, 0.5);
            //    border-radius: 6px;
            //    display: inline-block;
            //    padding: 0.3em 0.8em;
            //}
            SPAN {
                color: #ffffff;
            }
        }

        .list-element__actions {
            position: absolute;
            top: 5%;
            right: 5%;
            transition: $transition-base;
            opacity: 0.7;
            transform: scale(1);

            & > A {
                color: rgb(255, 255, 255);
                cursor: pointer;
                font-size: 150%;

                &.fa-heart-o.selected:before {
                    content: "\f004";
                }

                &.selected,
                &:hover {
                    color: $color-link-base;
                }
            }
        }

        .list-element-desc {
            padding: 5%;
            display: flex;
            flex-direction: column;
            align-content: stretch;
            H3 {
                min-height: 3em;
                overflow: hidden;
                text-overflow: ellipsis;
                font-size: 130%;
                margin-bottom: 0.3em;
                A {
                    color: inherit;
                }
            }
            .list-element-desc A {
                color: $color-base-mark;
                text-transform: uppercase;
                font-size: 85%;
            }
            .list-element-book {
                margin-top: 0.5em;
                @include flex-grid(space-between, row, stretch, nowrap);
                & > A:last-child {
                    font-size: 80%;
                    text-transform: none;
                }
            }
        }
        .list-element-cities {
            font-size: 90%;
            min-height: 4.5em;
            color: $color-base-light;
            & > SPAN {

            }
        }
        .list-element-dates {
            font-size: 80%;
            min-height: 3.1em;
            margin-top: 0.5em;
            color: $color-base-dark;
            @include flex-grid(space-between, row, stretch, nowrap);
            & > DIV {
                flex-basis: 50%;
            }
        }

        &:hover {

            .list-element__actions {
                transform: scale(1.3);
                opacity: 1;
            }
        }
    }
}

.scroll-bar {
    text-align: center;
    margin-top: 3em;
    & > A {
        padding: 0.6em 2em;
    }
}

.trip-list-seotext {
    margin: 3em 2%;
}

