.trip-element {
    .trip-element-header {
        background-color: rgb(255, 255, 255);
        padding-bottom: 2em;
        H1 {
            color: #D61900;
            text-align: center;
            font-size: 250%;
            line-height: 2;
        }
    }
    .trip-element-subheader {
        width: 60%;
        margin: 0 auto;
        .grid-cell:nth-child(2) {
            text-align: right;
        }
    }
    H3 {
        margin: 2em auto 1em;
        text-align: center;
    }

    .trip-element-desc {
        width: 80%;
        margin: 8vh auto 0;
        min-height: 10em;
        @include media(ipad) {
            width: 90%;
        }
    }
    .trip-element-actions {
        width: 80%;
        margin: 4vh auto 0;
        border-radius: 4px;
        padding: 0 2%;
        @include media(ipad) {
            width: 90%;
        }
        A {
            margin: 0.5em;
            box-shadow: none !important;
        }
        .price {
            font-size: 170%;
        }
        .addthis_inline_share_toolbox {
            float: right;
            .at-share-btn {
                background-color: transparent !important;
            }
            .at-icon {
                fill: #f6532f !important;
                &:hover {
                    fill: #537282 !important;
                }
            }

        }
        .action-print {
            float:right;
            margin-top:0.5em;
        }
    }
    .trip-element-dates {
        width: 60%;
        margin: 0 auto;
        .dates-element {
            float: left;
            margin: 0.5em;
            LABEL {
                padding: 0.5em 1em 0.5em 2.5em;
                position: relative;
                transition: all 0.3s ease 0s;
                border-radius: 4px;
                display: inline-block;
                width: 12em;
            }
            INPUT[type="checkbox"], INPUT[type="radio"] {
                width: auto;
                position: absolute;
                z-index: 10;
                left: 0.5em;
                margin: 0.35em;
            }
            INPUT[type="checkbox"]:checked + LABEL,
            LABEL.checked,
            INPUT[type="radio"]:checked + LABEL {
                background-color: #ffffff !important;
                box-shadow: $box-shadow;
            }
            INPUT[type="radio"][disabled] + LABEL {
                color: rgba(255, 0, 0, 0.5);
            }
        }
    }
    .trip-element-hotels {
        width: 80%;
        background-color: #ffffff;
        padding: 2%;
        margin: 2em auto;
        border-radius: 4px;
        box-shadow: $box-shadow;
        @include media(ipad) {
            width: 90%;
        }
        .hotel-images {
            @include flex-grid(space-around, row, stretch, wrap);
            IMG {
                border-radius: 4px;
                margin: 1%;
                max-height: 10em;
            }
        }
    }
    .trip-element-days {
        width: 80%;
        background-color: #ffffff;
        padding: 2%;
        margin: 2em auto;
        border-radius: 4px;
        box-shadow: $box-shadow;
        @include media(ipad) {
            width: 90%;
        }
        .days-element {
            padding: 2%;
        }
        .days-header {
            display: block;
            font-size: 120%;
            text-align: center;
            transition: all 0.5s ease 0s;
            margin-bottom: 0.5em;
            color: #D61900;
        }
        .days-body-images {
            @include flex-grid(space-around, row, stretch, wrap);
            IMG {
                border-radius: 4px;
                margin: 1%;
                max-height: 10em;
            }
        }
    }
    .trip-element-included {
        width: 80%;
        background-color: #ffffff;
        padding: 2%;
        margin: 2em auto;
        border-radius: 4px;
        box-shadow: $box-shadow;
        @include media(ipad) {
            width: 90%;
        }
        .fa-li {
            color: #D61900;
        }
        LI {
            margin-bottom: 1em;
        }
    }
    .trip-element-extras {
        width: 80%;
        background-color: #ffffff;
        padding: 2%;
        margin: 2em auto;
        border-radius: 4px;
        box-shadow: $box-shadow;
        @include media(ipad) {
            width: 90%;
        }
        LI {
            margin-bottom: 1em;
        }
        INPUT {
            margin: 0;
        }
    }
    INPUT[type="submit"] {
        font-size: 110%;
        margin: 0 auto;
        padding: 0.6em 1.5em;
        display: block;
    }
    .trip-element-photos {
        margin: 8vh auto 0;
        width: 80%;
        @include flex-grid(space-around, row, stretch, wrap);
        @include media(ipad) {
            width: 90%;
        }
        .element-image {
            border-radius: 4px;
            margin: 1%;
            max-height: 11em;
        }
    }
}

.fast-form {
    font-size: 80%;
    position: fixed;
    bottom: 3em;
    right: 1em;
    box-shadow: 0 0 10px 0 rgba(83, 114, 130, 0.3);
    z-index: 100;
    background-color: rgba(255, 255, 240, 1);
    border-radius: 4px;
    padding: 1.5em;
    animation: 1s ease 30s normal both 1 running;
    animation-name: fadeInLeft;
    width: 26em;
    @include media(ipad) {
        display: none;
    }
    FORM {
        margin: 0;
        width: 100%;
        font-size: 110%;
        INPUT {
            width: 100%;
            padding: 0.2em 0.5em;
            margin-top: 0.6em !important;
        }
    }
    .js.Close {
        position: absolute;
        top: 0.2em;
        left: 0.2em;
        .fa-arrow-circle-right {
            margin-right: 0.3em;
        }
        &.removed .fa-arrow-circle-right:before {
            content: "\f0a8";
        }
    }
    .fast-header {
        color: $color-base-mark;
        text-align: center;
        margin: 0.5em auto;
        font-size: 200%;
    }
}

.slideInRight80 {
    animation-name: slideInRight80;
}
@keyframes slideInRight80 {
    0% {
        transform: translateX(80%);
        -webkit-transform: translateX(80%);
        -ms-transform: translateX(80%);
    }
    100% {
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
    }
}
@-webkit-keyframes slideInRight80 {
    0% {
        transform: translateX(80%);
        -webkit-transform: translateX(80%);
        -ms-transform: translateX(80%);
    }
    100% {
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
    }
}
.slideOutRight80 {
    animation-name: slideOutRight80 !important;
}
@keyframes slideOutRight80 {
    0% {
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
    }
    100% {
        transform: translateX(80%);
        -webkit-transform: translateX(80%);
        -ms-transform: translateX(80%);
    }
}
@-webkit-keyframes slideOutRight80 {
    0% {
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
    }
    100% {
        transform: translateX(80%);
        -webkit-transform: translateX(80%);
        -ms-transform: translateX(80%);
    }
}
