.js.classHttp_Image_Preview {
    cursor: pointer;
}
.js.classHttp_Image_View {
    opacity: 0;
    cursor: pointer;
    transition: all 0.3s ease-in 0s;
}
.classHttp_Image_Navigation.navigation-right::before {
    background: transparent url('/img/arrow-right.svg') no-repeat scroll center center / contain;
    content: '\a0\a0';
}
.classHttp_Image_Navigation.navigation-right {
    color: #ffffff;
    font-family: 'FontAwesome', sans-serif;
    font-size: 600%;
    position: absolute;
    right: 1em;
    top: calc(50% - 0.5em);
    transform: translateX(100%);
}
.classHttp_Image_Navigation.navigation-left::before {
    background: transparent url('/img/arrow-left.svg') no-repeat scroll center center / contain;
    content: '\a0\a0';
}
.classHttp_Image_Navigation.navigation-left {
    color: #ffffff;
    font-family: 'FontAwesome', sans-serif;
    font-size: 600%;
    position: absolute;
    left: 1em;
    top: calc(50% - 0.5em);
    transform: translateX(-100%);
}
#image-view {
    text-align: center;
}
#image-view .classHttp_Image_Navigation {
    opacity: 0;
    transition: all 0.3s ease-in 0s;
}
#image-view:hover .classHttp_Image_Navigation {
    opacity: 1;
    transform: translateX(0);
}


@media only screen and (max-width: 800px) {
    .js.classHttp_Image_View {
        width: 100% !important;
    }
}
