.js.classHttp {border-bottom:1px dotted;text-decoration:none !important;}
IMG.js.classHttp, A IMG.js.classHttp, .js.classHttp.none {border:none !important;}


.floatDiv {
    position: absolute;
    z-index:100;
    top: 0;
    left: 0;
    max-width: 900px;
    min-width: 300px;
}
.floatDivFixed {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    max-width: 900px;
    min-width: 300px;
}
.floatDivContent {
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 4px;
    padding: 25px;
}
.floatDivContent.contentWhite {
    background-color: rgba(255, 255, 255, 1);
}
.floatBack {
    position:fixed;
    width:100%;
    height:100%;
    background-color: rgba(0, 0, 0, 0.5);
    /*background: rgba(0, 0, 0, 0.5) url('/img/back-close-black.png') no-repeat 98% 4%;*/
    top:0;
    left:0;
    cursor:pointer;
    z-index:99;
}
.floatBack.opacity {
    opacity:0;
}
.floatBack:hover {
    /*background-image:url('/img/back-close-white.png');*/
}
.floatClose:before {
    background: transparent url('/img/close.svg') no-repeat scroll center center / contain;
    content: '\a0\a0\a0\a0';
}
.floatClose {
    /*background: url('/img/close.png') no-repeat center center / contain transparent;*/
    position: absolute;
    right: -1em;
    top: -1.5em;
    cursor: pointer;
}


@media (max-width: 800px) {
    .js.classHttp_Window {
        width: 100% !important;
    }
    .floatClose {
        display: none;
    }
}
