DL > FORM {
    margin-left: 5%;
    width: 90%;
}
INPUT, TEXTAREA {
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    font-size: inherit;
    padding: 0.5em 1em;
    width: 90%;
    box-shadow: none;
    transition: all 0.2s ease-in 0s;
    font-family: inherit;
}
INPUT[type="submit"], A[role="button"], BUTTON[role="submit"] {
    background-color: rgb(246, 83, 47);
    border-radius: 2em;
    box-shadow: 0 2px 4px 0 rgba(246, 83, 47, 0.5);
    color: #ffffff;
    font-family: inherit;
    cursor: pointer;
    border: 0 none;
    width: auto;
    padding: 0.3em 1em;
}
INPUT[type="checkbox"], INPUT[type="radio"] {
    width: auto;
    margin: 0 0.5em;
}
INPUT[required] {
    border: 1px solid rgba(255, 0, 0, 0.3);
}
INPUT[data-type="date"] {
    width: 10em;
}
INPUT[data-type="date"] ~ I:before {
    -moz-osx-font-smoothing: grayscale;
    color: rgba(0, 0, 0, 0.2);
    content: "\f073";
    font-family: FontAwesome,sans-serif;
    text-rendering: auto;
    font-size: inherit;
    font-style: normal;
    position: relative;
    top: 0.1em;
    right: 1.5em;
}
INPUT.error {
    border: 1px solid rgba(246, 83, 47, 1);
}

BUTTON, INPUT[type="button"] {
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.1) !important;
    box-shadow: 0 2px 4px 0 rgba(83, 114, 130, 0.3);
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
    width: auto;
    padding: 0.3em 1em;
    border-radius: 3px;
}
BUTTON > I {
    margin-right: 0.5em;
}
A[role="button"].white {
    background-color: #ffffff;
    box-shadow: 0 2px 4px 0 rgba(83, 114, 130, 0.3);
    color: inherit;
    padding: 0.6em 2em;
}

UL[role="error"], UL[role="attention"], UL[role="message"], UL[role="info"], .error-box, .message-box {
    list-style: outside none none;
    margin: 0;
    padding: 0;
    padding: 1em 2em;
    margin: 1em auto;
    border-radius: 4px;
    width: 80%; }
@media (max-width: 440px) {
    UL[role="error"], UL[role="attention"], UL[role="message"], UL[role="info"], .error-box, .message-box {
        width: 100%; } }

UL[role="error"], .error-box {
    color: #a94442;
    background-color: #f2dede;
    border: 1px solid #dca7a7; }

UL[role="attention"], .attention-box {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border: 1px solid #f5e79e; }

UL[role="message"], .message-box {
    color: #3c763d;
    background-color: #dff0d8;
    border: 1px solid #b2dba1; }

UL[role="info"], .info-box {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bcdff1; }

/*.error-box LI {*/
    /*color: rgba(214, 25, 0, 1);*/
/*}*/
/*.message-box LI {*/
    /*color: rgba(67, 159, 0, 1);*/
/*}*/


@media (max-width: 430px) {
    DL > FORM {
        margin: 0 auto;
        width: 95%;
    }
}