.grid_row:after, .grid-row:after {
    clear: both;
    content: ".";
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    visibility: hidden;
}
.grid_cell, .grid-cell { float: left; box-sizing: border-box;}
.grid-cell.cell-right {float:right}

.c1of1 { float: none; }
.c1of2, .c2of4, .c3of6, .c4of8 { width: 50%; _width:49.9% !important; }
.c1of3, .c2of6 { width: 33.33333%; _width:32% !important; }
.c1of4 { width: 25%; _width:24.5% !important; }
.c1of5 { width: 20%; _width:19.95% !important; }
.c1of6 { width: 16.66666%; }
.c1of7 { width: 14.285%; }
.c1of8 { width: 12.5%; }

.c2of3, .c4of6 { width: 66.66666%; _width:66.55% !important; }
.c2of5 { width: 40%; _width:39.95% !important; }
.c2of7 { width: 28.57%; }
.c2of8 { width: 25%; }

.c3of4, .c6of8 { width: 75%; _width:74.5% !important; }
.c3of5 { width: 60%; _width:59.95% !important; }
.c3of7 { width: 42.855%; }
.c3of8 { width: 37.5%; }

.c4of5 { width: 80%; _width:79.95% !important; }
.c4of7 { width: 57.14%; }

.c5of6 { width: 83.334%; }
.c5of7 { width: 71.425%; }
.c5of8 { width: 62.5%; }

.c6of7 { width: 85.715%; }

.c7of8 { width: 87.5%; }



.flex-grid, .flex-row {
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;

    -webkit-justify-content: space-around;
    justify-content: space-around;

    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;

    -webkit-align-items: stretch;
    align-items: stretch;
}
.flex-box {
    flex-shrink: 1;
    align-self: auto;
    flex-basis: 1em;
    order: 1;
}
.flex-box.fg1 {
    flex-grow: 1;
}
.flex-box.fg2 {
    flex-grow: 2;
}
.flex-box.fg3 {
    flex-grow: 3;
}


@media (max-width: 430px) {
    .flex-grid, .flex-row {
        flex-direction: column;
    }
}