@font-face {
    font-family: "Rouble";
    src: url("/fonts/rouble.eot");
    src: url("/fonts/rouble.eot?#iefix") format("embedded-opentype"),
    url("/fonts/rouble.woff") format("woff"),
    url("/fonts/rouble.ttf") format("truetype"),
    url("/fonts/rouble.svg#Rouble") format("svg");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "RobotoLight";
    src: url("/fonts/RobotoLight.eot");
    src: url("/fonts/RobotoLight.eot?#iefix") format("embedded-opentype"),
    url("/fonts/RobotoLight.woff") format("woff"),
    url("/fonts/RobotoLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "RobotoRegular";
    src: url("/fonts/RobotoRegular.eot");
    src: url("/fonts/RobotoRegular.eot?#iefix") format("embedded-opentype"),
    url("/fonts/RobotoRegular.woff") format("woff"),
    url("/fonts/RobotoRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}


* {
    margin: 0;
    box-sizing: border-box;
}
HTML, BODY {
    height: 100%;
}
BODY {
    font-family: 'RobotoLight', Arial, sans-serif;
    font-size: 1.1vw;
    font-weight: 300;
    width: 100%;
    color: rgb(83, 114, 130);
    line-height: 1.5;
    background-color: rgb(242, 242, 242);
}

:focus { outline: 0; }

IMG {border:0;}

A {
    color: rgb(246, 83, 47);
    text-decoration:none;
    transition: all 0.2s ease-in 0s;
}
A:hover {
    color: rgb(83, 114, 130);
}
A:focus {
    color: rgb(214, 25, 0);
}

B {font-weight: bold;}
P {margin: 1em 0;}

TABLE {border-collapse:collapse;}
TD {vertical-align:top;}

H1, H2, H3, H4 {
}

DL {}
DT {
    float: left;
    width: 25%;
    margin: 0 1% 0.5em 0;
    clear: left;
}
DD {
    float:left;
    width: 74%;
    margin: 0 0 0.5em 0;
}
DD:last-child {
    margin-top: 1em;
}
FORM DT > SPAN {
    color: rgba(255, 102, 102, 1);
    margin-left: 0.2em;
}
LABEL {cursor:pointer;}

.dno {display:none;}

.clear:after {
    clear: both;
    content: ".";
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    visibility: hidden;
}
TEMPLATE {
    display: none;
}

NAV UL {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}

.price {
    color: #D61900;
    font-weight: bold;
}
.price:after {
    font-family: 'Rouble', sans-serif;
    content: 'i';
    margin-left: 0.3vw;
    text-transform: none;
    color: #537282;
    font-weight: lighter;
}

MARK {
    background-color: transparent;
    color: #D61900;
}

#colmask {
    clear: both;
    float: left;
    position: relative;
    width: 100%;
    min-height: 100%;
}
#page-size {
    float: right;
    /*overflow: hidden;*/
    position: relative;
    height:100%;
    width: 85%;
}
#page-body {
    padding-bottom: 3em;
}
ASIDE {
    float: left;
    overflow: hidden;
    position: absolute;
    height: 100%;
    width: 15%;
    background: #FFFFFF;
    box-shadow: 0 2px 17px 0 rgba(83, 114, 130, 0.44);
    z-index: 1000;
}
ASIDE#filters {
    display: none;
}
ASIDE .logo {
    margin: 10%;
    width: 80%;
}
ASIDE .fa-times {
    display: none;
}
.main-menu {
    text-align: center;
    margin: 2em auto;
    line-height: 3;
}
.main-menu A {
    color: #537282;
    display: block;
    text-transform: uppercase;
}
.main-menu A:hover, .main-menu A.selected {
    color: #D61900;
}
ASIDE .addthis_inline_follow_toolbox {
    margin: 0 1em;
}

HEADER {
    background-color: #FFFFFF;
}
HEADER .user-info {
    float: right;
    margin: 2% 3%;
}
HEADER .user-info A {
    color: #537282;
    font-weight: bold;
}
HEADER .user-info SPAN {
    font-size: 80%;
    font-style: italic;
    margin-left: 2.5em;
    display: block;
}
HEADER .user-info A I {
    color: #F6532F;
    margin-right: 0.5em;
}
HEADER .phone {
    color: #537282;
    float: left;
    font-size: 210%;
    font-weight: bold;
    margin: 2% 3%;
}
HEADER .phone A {
    color: #537282;
}

.popup-menu {
    position: relative;
}
.popup-menu UL {
    background-color: #ffffff;
    border-radius: 4px;
    box-shadow: 0 0 4px 0 rgba(83, 114, 130, 0.3);
    position: absolute;
    z-index: 10;
    margin: 0;
    padding: 0.2em 0;
    list-style: none;
    display: none;
}
HEADER .popup-menu UL {
    right: 0;
    top: 2em;
    width: 22em;
}
.popup-menu UL LI A {
    color: #537282;
    display: block;
    padding: 0.4em 0.8em;
    font-weight: normal;
}
.popup-menu UL LI A:hover, .popup-menu UL LI A:focus {
    background-color: #F5F5F5;
    color: #F6532F;
}
.popup-menu UL.Over {
    display: block;
}

.page-name {
    color: #D61900;
    text-align: center;
    font-size: 250%;
    background-color: #FFFFFF;
    padding: 0 0 0.5em;
}
.page-signature {
    text-align: center;
    background-color: #FFFFFF;
    padding: 0.5em 0 1em;
    margin-bottom: 3em;
}

#page-wrapper {
    height: auto !important;
    margin: 0 auto -22vh;
    min-height: 100vh;
}
FOOTER, #page-pusher {
    height: 22vh;
}
FOOTER {
    margin: -22vh auto 0;
    background-color: rgba(74, 74, 74, 0.5);
    color: #FFFFFF;
    font-size: 70%;
    padding: 2%;
}
FOOTER A {
    color: #FFFFFF;
}
FOOTER {
    display: flex;
    flex-wrap:  wrap;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
}
FOOTER > DIV {
    flex-basis: 50%;
    flex-grow: 1;
}
.empty-tip {
    text-align: center;
    font-style: italic;
    margin: 10em;
}
.content-element {
    width: 80%;
    margin: 3em auto;
}
.bubble {
    background-color: #FFFFFF;
    border-radius: 4px;
    box-shadow: 0 0 4px 0 rgba(83, 114, 130, 0.3);
    font-size: smaller;
    position: relative;
    padding: 1em 2em;
    min-height: 6em;
    margin: 2.5em;
}
.bubble::before {
    content: " ";
    display: inline-block;
    vertical-align: middle;
    border: 1em solid transparent;
    border-right-color: #FFFFFF;
    height: 0;
    width: 0;
    position: absolute;
    top: 25%;
    left: -2em;
}
.mobile-logo {
    display: none;
}
#cover {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 999;
}



@media (min-width: 1290px) {
    BODY {
        font-size: 0.9vw;
    }
}


@media (max-width: 770px) {
    BODY {
        font-size: 2vw;
    }
    .content-element {
        width: 90%;
    }
    ASIDE {
        transform: translateX(-120%);
        transition: all 0.3s ease-in 0s;
        width: 80%;
    }
    ASIDE .fa-times {
        display: block;
        margin: 1em;
    }
    #page-size {
        width: 100%;
    }
    .mobile-logo {
        display: block;
        background-color: #FFFFFF;
        padding: 0.5em 1em;
    }
    .mobile-logo .fa-bars, .mobile-logo .fa-search {
        margin: 0.6em 0.5em 0 0.5em;
    }
    #cover.expanded {
        display: block;
    }
    ASIDE#filters {
        display: block;
    }
    ASIDE .list-filters {
        display: block;
        margin: 0 5%;
    }
    ASIDE#menu.expanded, ASIDE#filters.expanded {
        transform: translateX(0%);
    }
    ASIDE#menu .logo, ASIDE#filters .logo {
        width: 30%;
    }
}


@media (max-width: 430px) {
    BODY {
        font-size: 4vw;
    }
    HEADER .phone {
        font-size: 120%;
    }
    HEADER .user-info {
        margin: 3%;
    }
    .flex-row .bubble::before {
        border-right-color: transparent;
        border-top-color: #FFFFFF;
        top: 100%;
        left: 25%;
    }
}

