.box-select {
    position: relative;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 3px;
}
.select-all {
    background-color: #ffffff;
    top: 26px;
    left: -1px;
    position: absolute;
    visibility: hidden;
    z-index: 1000;
    border-radius: 0 0 3px 3px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-top: 0 none;
}
.select-arrow {
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;
    line-height: 2;
}
.select-arrow:after {
    font-family: FontAwesome, sans-serif;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /*content: "\f078";*/
    content: "\f107";
    position: absolute;
    right: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 0 0.5em;
}
.select-arrow > DIV, .select-arrow > INPUT {
    padding-left: 0.5em;
    overflow: hidden;
    border: 0;
    font-size: inherit;
    margin: 0;
    cursor: inherit;
    text-overflow: ellipsis;
    color: rgb(5, 155, 206);
    width: calc(100% - 1.5em);
}
.select-values {
    max-height: 10.5em;
    overflow-x: hidden;
    overflow-y: auto;
    list-style: none outside none;
    padding: 0;
    font-size: inherit;
    line-height: 1.5;
}
.select-values LI {
    white-space: nowrap;
}
.select-values LI A {
    display: block;
    text-decoration: none;
    color: inherit;
    transition: none;
    padding: 0.2em 0.5em;
}
.select-values LI A.red {
    color: rgba(255, 0, 0, 0.5);
}
.select-values LI A:hover.red {
    color: rgba(255, 0, 0, 0.5);
}
.select-values LI A:hover {
    background-color: rgba(0, 0, 0, 0.03);
    color: rgb(5, 155, 206);
}

.select-values.values-children {
    left: 100%;
    top: -1px;
    max-height: 280px;
    overflow-x: auto;
    position: absolute;
    display: none;
}
.select-values.values-children > LI > A:before {}


.select-cancel {display:inline-block;vertical-align:middle;margin-left:0px;}

.box-select.w50 {width:50px;}
.box-select.w100 {width:100px;}
.box-select.w150 {width:150px;}
.box-select.w200 {width:200px;}

.box-select.w50 .select-all {width:49px;}
.box-select.w100 .select-all {width:99px;}
.box-select.w150 .select-all {width:149px;}
.box-select.w200 .select-all {width:199px;}


.select-input {
    display:inline-block;
}
.select-input .select-arrow {
    padding:1px 3px;
    background:none repeat scroll 0 0 transparent
}
.select-input .select-arrow DIV {
    width:auto !important;
}

