.slider-frame {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 40vh;
}

.slider-selector {
    line-height: 1;
    position: absolute;
    z-index: 10;
}
.slider-selector A {
    display: inline-block;
    opacity: 0.5;
}
.slider-selector A.selected {
    opacity: 1;
}

.action-frame {
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 10;

    animation-delay: 0s;
    animation-duration: 0.6s;
    animation-fill-mode: both;
    -webkit-animation-delay: 0s;
    -webkit-animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
}
.action-frame.selected {
    transform: none;
    -webkit-transform: none;
    -ms-transform: none;
}
.action-frame .frame-description {
    background-color: rgba(0, 0, 0, 0.45);
    bottom: 0;
    color: #ffffff;
    font-size: 80%;
    padding: 1em;
    position: absolute;
    width: 100%;
}
.navigation {
    color: #ffffff;
    cursor: pointer;
    position: absolute;
    text-align: center;
    top: calc(50% - 1em);
    z-index: 22;
    transition: all 0.3s ease 0s;
    opacity: 0;
}
.navigation.left {
    left: 0;
}
.navigation.right {
    right: 0;
}
.slider-frame:hover .navigation.left {
    left: 1em;
    opacity: 1;
}
.slider-frame:hover .navigation.right {
    right: 1em;
    opacity: 1;
}

.slider-preview {
    background-color: #3e454c;
    margin-top: -1px;
    overflow: hidden;
    padding: 0.5em 0.25em;
    position: relative;
}
.preview-viewport {
    overflow: hidden;
    position: relative;
    width: 1000%;
    transition: all 0.6s ease 0s;
}
.preview-frame {
    float: left;
    height: 60px;
    padding: 0 0.25em;
    width: 100px;
    cursor: pointer;
}
.preview-frame > IMG {
    width: 100%;
    opacity: 0.5;
}
.preview-frame.selected > IMG {
    opacity: 1;
}

