.index-list-banners {
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;

    -webkit-justify-content: space-around;
    justify-content: start;

    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;

    -webkit-align-items: stretch;
    align-items: stretch;

    padding: 1em 1%;
}
.index-list-banners > .list-banner-box {
    flex-basis: 50%;
}
.list-banners {
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;

    -webkit-justify-content: space-around;
    justify-content: start;

    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;

    -webkit-align-items: stretch;
    align-items: stretch;
}
.list-banner-box > .list-banner-box {
    flex-basis: calc((100% - (0.5em * 4))/2);
}
.list-banner-box {
    align-self: auto;
    flex-grow: 0;
    flex-basis: calc((100% - (0.5em * 8))/4);
}
.list-banner-box.col2 {
    flex-grow: 1;
    flex-basis: 40%;
}
.list-banner-box.row2 {
    height: calc(60vh + 1em);
}

.banner-element {
    height: 30vh;
    border-radius: 4px;
    margin: 0.5em;
    box-shadow: 0 0 4px 0 rgba(83, 114, 130, 0.3);
    color: #FFFFFF;
    text-decoration: none;
}
.banner-element A {
    display: block;
}
.banner-element:hover {
    color: #FFFFFF;
    text-decoration: none;
}
.banner-cover {
    height: 100%;
    width: 100%;
    /*background-image: linear-gradient(25deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0) 70%);*/
    padding: 1em;
    border-radius: 4px;
    position: relative;
}
.banner-header {
    text-transform: uppercase;
    background-color: rgba(255, 255, 255, 1);
    width: 100%;
    padding: 0.5em 1em;
    border-radius: 0 0 4px 4px;
    color: #000000;
    font-size: 115%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    font-family: 'RobotoRegular', sans-serif;
}
.banner-description {
    position: absolute;
    bottom: 5em;
    left: 0;
    padding: 0 1em;
    display: none;
}
.banner-price {
    color: rgba(255, 255, 255, 0.8);
    font-size: 130%;
    position: absolute;
    top: 1em;
}
.banner-price > SPAN {
    color: rgba(255, 255, 255, 1);
}
.list-banner-box.col2 .banner-header {
    font-size: 140%;
}
.list-banner-box.row2 .banner-header {
    font-size: 180%;
}
.list-banner-box.row2 .banner-price {
    font-size: 180%;
}
.list-banner-box.col2 .banner-description {
    display: block;
}


@media (max-width: 770px) {
    .index-list-banners > .list-banner-box {
        flex-basis: 100%;
    }
}
