.trip-calendar {
    width: 80%;
    margin: 3em auto;
}
.trip-calendar .grid-cell {
    padding: 0 2%;
    width: 48.8%;
}
.trip-calendar .calendar-month {
    text-align: center;
}
.trip-calendar .calendar-weekday > SPAN {
    text-align: center;
    font-size: 90%;
    margin: 0 0.64%;
    padding: 0.5em;
    width: 13%;
    display: inline-block;
    color: rgba(83, 114, 130, 0.5);
}
.trip-calendar .calendar-days > DIV, .trip-calendar .calendar-days > A {
    border: 1px solid rgba(83, 114, 130, 0.1);
    border-radius: 3px;
    display: inline-block;
    margin: 0.64%;
    padding: 0.5em;
    width: 13%;
    font-size: 80%;
    height: 4.5em;
    position: relative;
    color: inherit;
}
.trip-calendar .calendar-days .green {
    background-color: rgba(126, 211, 33, 0.3);
}
.trip-calendar .calendar-days .yellow {
    background-color: rgba(255, 211, 33, 0.3);
}
.trip-calendar .calendar-days .red {
    background-color: rgba(255, 80, 33, 0.3);
}
.trip-calendar .calendar-days .today {
    background-color: rgba(210, 210, 210, 0.3);
}
.trip-calendar .calendar-days > DIV.holiday, .trip-calendar .calendar-days > A.holiday {
    color: #F6532F;
}
.trip-calendar .fa-angle-left {
    float: left;
    font-size: 200%;
}
.trip-calendar .fa-angle-right {
    float: right;
    font-size: 200%;
}


@media (max-width: 770px) {
    .trip-calendar .grid-cell {
        width: 96%;
    }
}
@media (max-width: 430px) {
    .trip-calendar .grid-cell {
        width: 94%;
    }
}
