.cities-list {
    width: 80%;
    margin: 0 auto;
}
.cities-list-element {
    margin: 1em 0;
}
.cities-list-element .list-images {
    margin: 1em 0;
}
.cities-list-element .list-images IMG {
    border-radius: 4px;
    width: 22.5%;
    margin: 1%;
}

.cities-element {
    width: 80%;
    margin: 0 auto;
}
.cities-element .list-images {
    margin: 2em 0;
}
.cities-element .list-images IMG {
    border-radius: 4px;
    width: 31%;
    margin: 1%;
}


@media (max-width: 430px) {
    .cities-list-element .list-images IMG {
        width: 47%;
    }
    .cities-element .list-images IMG {
        border-radius: 4px;
        width: 98%;
        margin: 1%;
    }
}
