HEADER {
    background: transparent url('/img/welcome-banner_07.jpg') no-repeat center top / cover;
    height: 50vh;
    min-height: 25em;
    color: #FFFFFF;
}
HEADER .shadow {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.67) 0%, rgba(0, 0, 0, 0.53) 25%, rgba(0, 0, 0, 0) 100%);
    width: 100%;
    height: 100%;
}
HEADER H1, HEADER H2, HEADER H4 {
    font-size: 200%;
    font-weight: bold;
    text-align: center;
    padding-top: 3.5em;
}
HEADER P {
    text-align: center;
}
HEADER .user-info A, HEADER .user-info SPAN {
    color: #FFFFFF;
}
HEADER .phone {
    color: #FFFFFF;
    text-shadow: 0 0 0.5em rgba(0, 0, 0, 1);
}
HEADER .phone A {
    color: #FFFFFF;
}



@media (max-width: 770px) {
}

@media (max-width: 430px) {
    HEADER {
        height: 37em;
    }
    HEADER H1, HEADER H2, HEADER H4 {
        padding-top: 2.5em;
    }
}
