.trip-comments {
    width: 80% !important;
    margin: 8vh auto 0;
}
.trip-comments * {
    transition: all 0.2s linear 0s;
}
.trip-comments .no-comments {
    font-style: italic;
    font-size: 90%;
    text-align: center;
    margin: 2em auto;
}
.trip-comments > H5 {
    font-size: 150%;
    color: #808080;
}
BUTTON.trip-comments-more {
    background: none repeat scroll 0 0 #D2F7C9;
    border: 0 none;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2) inset;
    color: #666666;
    font-family: inherit;
    font-size: 11px;
    padding: 5px;
    width: 100%;
    text-shadow: none;
    margin-bottom: 10px;
}
.trip-comments .bullet {
    color: #CCCCCC;
    font-size: 10px;
    padding: 0 5px;
}

.mod-events {
    font-family: monospace;
    quotes: "<" ">";
    font-size: 9px;
    color: inherit;
}
.mod-events A {
    font-size: 9px !important;
    color: #DF4545 !important;
}
.mod-events:before {
    content: open-quote;
}
.mod-events:after {
    content: close-quote;
}

/* list */
.comments-list {
    list-style-type: none;
    margin: 0;
    padding:0;
    position:relative;
}
.comments-list.children {
    margin-left: 2em;
}
.comment-post {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    position: relative;
}
.comment-post.owner .post-content {
    border-right: 2px solid #4d77cc;
}
.comment-post.post-hidden .post-avatar, .comment-post.post-hidden .post-header, .comment-post.post-hidden .post-message {
    opacity: 0.5;
}
.comment-post.collapsed {
    height:45px;
    padding-left:35px;
}
.comment-post.collapsed .post-message, .comment-post.collapsed .post-footer, .comment-post.collapsed .children {
    display:none;
}
.comment-post.collapsed .post-avatar IMG {
    width:24px;
    height:24px;
}
.comment-post.post-complain .post-header {
    background:url('/img/comment-complain.png') no-repeat scroll center center content-box transparent;
    background-size: contain;
}
.post-content {
    padding:10px 0;
}
.post-content .stuff {
    left: 0;
    position: absolute;
    top: 50px;
}
.post-content .stuff IMG {
    width: 18px;
}
.post-header {
    font-size: 90%;
}
.post-header A {
    color: inherit;
}
.post-header A:hover {
    color: #4d77cc;
}
.post-header .info-login {
    text-decoration:none;
    color:#D02823;
    font-weight:bold;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
    white-space: nowrap;
    max-width:120px;
}
.post-header .info-login:hover {
    color:inherit;
}
.post-header .user-level {
    vertical-align: middle;
}
.post-header .comment-new {
    position:absolute;
    top:5px;
    right:90px;
    font-size:20px;
    line-height:1;
}
.comment-new.new_ {color: #FF0000;}
.comment-new.new_0 {display: none;}
.comment-new.new_1 {display: none;}
.comment-new.new_2 {color: #DFDFDF;}
.comment-new.new_3 {color: #DFDFDF;}
.comment-new.new_4 {color: #BF7777;}
.comment-new.new_5 {color: #BF7777;}
.comment-new.new_6 {color: #DF4545;}
.comment-new.new_7 {color: #DF4545;}
.comment-new.new_8 {color: #FF0000;}

.post-time {
    text-decoration:none;
    color: inherit;
    font-size:10px;
    vertical-align: middle;
}
.post-menu {
    position: absolute;
    padding:0;
    top:5px;
    right:0;
    opacity: 0;
}
.post-content:hover .post-menu {
    opacity: 1;
}
.post-collapse, .post-expand, .post-dropdown {
    float:left;
    text-decoration:none;
    color: rgba(0, 0, 0, 0.5);
    font-size:20px;
    line-height:19px;
    padding:0 5px;
    font-weight:600;
}
.post-dropdown {
    float:left;
    border-left: 1px dotted #C6CDD6;
}
.post-dropdown .dropdown-menu {
    right: -3px;
}
.post-dropdown .caret {
    border-color: rgba(0, 0, 0, 0.5) transparent transparent;
}
.post-dropdown A:hover .caret {
    border-color: #1D499F transparent transparent;
}


.post-content .post-message {
    margin: 3px 0;
}
.post-content .post-message A {
    color: #4d77cc;
}
.post-footer {
    overflow:hidden;
    color:#7B7B7B;
}
.post-footer .footer-menu {
    padding:0;
}
.post-footer .footer-menu LI {
    list-style:none;
    float:left;
    margin-right:5px;
}
.post-footer .footer-menu A {
    text-decoration:none;
    color:inherit;
    font-size:11px;
}
.post-footer .footer-menu A:hover {
    color: #4d77cc;
}


.comment-karma {
    border: 1px solid #7b7b7b;
    border-radius: 10px;
    float: right;
    font-size: 11px;
    padding: 2px 5px;
    cursor: pointer;
    margin-right: 40px;
}
.comment-karma A {
    display: none;
    margin: 0;
}
.comment-karma:hover A {
    display: inline-block;
}
.comment-karma SPAN {
    line-height: 16px;
    vertical-align: middle;
}
.comment-karma:hover SPAN {
    margin-left: 5px;
}


.comment-post.post-line {
    padding-left: 0;
}
.comment-post.post-line .post-avatar {
    left: -50px;
}

/* reply */
.comments-reply {
    margin: 0.5em 0;
    position: relative;
    width: 80%;
}
.reply-postbox {
}
.reply-postbox .attantion {
    margin: 0 0 5px 35px;
}
.reply-postbox .attantion.yellow {
    color: rgba(255, 0, 0, 0.5);
}
.reply-postbox .attantion.red {
    color: rgba(255, 0, 0, 0.8);
}
.textarea-wrapper {
    padding-bottom: 3em;
    position:relative;
}
.textarea-wrapper INPUT[type="text"], .textarea-wrapper INPUT[type="mail"] {
    margin-bottom: 0.5em;
    width: 100%;
}
.textarea-wrapper TEXTAREA {
    width: 100%;
    margin-bottom: 0.5em;
}
.reply-actions {
    border-top: 1px dotted #D3D4D4;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3em;
    padding-top: 0.5em;
}
.actions-edit {
    float:left;
    padding: 6px;
}
.reply-actions BUTTON {
    float: right;
    position: relative;
}
.logged-out {
    margin-top: 0.5em;
    position: relative;
}
.logged-out H6 {
    color: rgba(83, 114, 130, 0.8);
    font-size: 10px;
    font-weight: 600;
    line-height: 1;
    margin: 0 0 10px;
    text-transform: uppercase;
}
.logged-out .grid-cell {
    padding: 0 0.5em;
}
.logged-out BUTTON {
    text-shadow: none;
}
.logged-out .user-register {
    border-left: 1px dotted #D3D4D4;
    min-height: 10em;
}
.logged-out .user-register INPUT, .logged-out .user-auth INPUT {
    margin-bottom:10px;
}
.logged-out .user-register A {
    display: block;
    padding: 0.4em 0.8em;
}
.auth-links {
    margin: 10px 0;
    float: left;
}
.auth-links LI {
    float: left;
    line-height: 0;
    list-style: none;
}

/* Youtube */
.youtube-element {
    margin:10px;
    width:120px;
    position:relative;
    height:90px;
    border:1px solid #D3D4D4;
    border-radius:3px;
    padding:3px;
}
.youtube-element-ancor {
}
.youtube-element-image {}
.youtube-element-play {
    background:url("/img/player_start.png") no-repeat transparent;
    cursor:pointer;
    width:64px;
    height:64px;
    position:absolute;
    top:12px;
    left:28px;
}

/* Рейтинг */
.rating {
    float: right;
    color: #808080;
    margin-right: 0.5em;
}
.rating .rating-star {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url('/img/stars.png') no-repeat 0 -16px transparent;
    vertical-align: text-bottom;
}
.rating .rating-star.hover {
    background-position: 0 -32px;
}
.rating .rating-star.active {
    background-position: 0 0;
}
