.dispatch-data {
    width: 80%;
    margin: 3em auto 0;
}
.dispatch-data .dispatch-element {
    padding: 1em 0.5em;
    border-bottom: 1px solid rgba(83, 114, 130, 0.3);
}
.dispatch-data .trip-element .element-name H3 {
    color: #D61900;
}
.dispatch-data .dispatch-element:last-child {
    border-bottom: 0 none;
}
.dispatch-data .trip-element .element-desc {
    margin: 1em 2em 0 0;
    font-style: italic;
}

.dispatch-data .element-name {
    width: 50%;
}

