#global-search {
    margin: 3em auto 0;
    width: 90%;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    padding: 1em;
}
.list-filters {
    flex-wrap: nowrap;
}
.list-filters .list-filters-element {
    position: relative;
    font-size: 110%;
    color: rgba(0, 0, 0, 1);
}
.list-filters .list-filters-element .list-filters-label {
    color: rgba(255, 255, 255, 0.8);
    font-size: 80%;
}
.list-filters .list-filters-element .list-filters-select {
    width: 20em !important;
}
.list-filters .list-filters-element .box-select {
    background-color: rgba(255, 255, 255, 1);
    border: 0 none;
}
.list-filters .list-filters-element .select-all {
    left: 0;
}
.list-filters .list-filters-element .list-filters-date {
    padding: 0 0 0 0.5em;
    line-height: 2;
    border: 0 none;
    margin: 0;
}
.list-filters .list-filters-element .list-filters-date + I:before {
    top: 0;
}



@media (max-width: 770px) {
}
@media (max-width: 430px) {
    #global-search {
        margin-top: 2em;
    }
    ASIDE #global-search {
        background-color: transparent;
        margin-top: 0;
    }
    INPUT[data-type="date"] {
        width: 8em;
    }
    .list-filters .list-filters-element {
        margin-bottom: 1em;
    }
    ASIDE .list-filters .list-filters-element .list-filters-label {
        color: rgba(0, 0, 0, 0.8);
    }
    .list-filters .list-filters-element .box-select,
    .list-filters .list-filters-element .list-filters-date,
    .list-filters .list-filters-element .select-all {
        border: 1px solid rgba(0, 0, 0, 0.1)
    }
}
