.order-data {
    width: 80%;
    margin: 3em auto 0;
}
.order-data .status-name {
    font-style: italic;
    font-weight: normal;
    color: #D61900;
}
.order-data .order-sum {
    border-top: 1px solid rgba(83, 114, 130, 0.3);
    font-size: 120%;
    margin-top: 1em;
    padding: 1em;
}
.order-data .order-actions {
    margin-top: 1em;
    padding: 1em;
}
