.order-edit {
    margin: 3em auto 0;
}
.order-edit H2 {
    margin-bottom: 1em;
}
.order-edit LABEL {
    margin-right: 1em;
}
.order-edit INPUT[data-type="number"] {
    width: 10em;
}
.order-edit .traveler-separator {
    border-bottom: 1px dashed rgba(83, 114, 130, 0.3);
    margin: 1em;
}
.order-edit INPUT[type="submit"] {
    margin-top: 2em;
}
.order-edit .status-name {
    font-style: italic;
    font-weight: normal;
    color: #D61900;
}
