.order-data {
    width: 80%;
    margin: 3em auto 0;
}


.order-element {
    border-bottom: 1px solid rgba(83, 114, 130, 0.3);
}
.order-element:last-child {
    border-bottom: 0 none;
}
.order-element .grid-cell {
    padding: 1em 0.5em;
}
.order-element .element-number {
    min-width: 11em;
}
.order-element .element-name {
    width: 33%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.order-element .element-name .fa-stack {
    height: 1.7em;
    line-height: 1.5em;
}
.order-element .element-name .fa-stack-1x:nth-child(2) {
    left: 0.35em;
}
.order-element .element-sum {
    min-width: 7em;
}
.order-element .element-manager {
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 10em;
    min-width: 10em;
    font-size: smaller;
}
.order-element .element-status {
    font-size: smaller;
    max-width: 10em;
    min-width: 10em;
}

.order-element-actions {
    padding: 1em 0.5em;
}


#company-orders-search {
    border-bottom: 1px solid rgba(83, 114, 130, 0.3);
    padding-bottom: 1em;
    text-align: right;
}
#company-orders-search .list-filters .list-filters-element {
    position: relative;
    color: rgba(0, 0, 0, 1);
    display: inline-block;
    text-align: left;
}
#company-orders-search .list-filters .list-filters-element .list-filters-label {
    color: rgba(83, 114, 130, 0.8);
    font-size: 70%;
}
#company-orders-search .list-filters .list-filters-element .radio {
    margin: 0.7em 0.5em;
}
#company-orders-search .list-filters .list-filters-element .list-filters-date {
    width: 8em;
}
#company-orders-search .list-filters .list-filters-element .list-filters-date + I:before {
    top: 0;
}


