* {
    margin: 0;
    box-sizing: border-box;
}
BODY {
    font-family: Arial, sans-serif;
    font-size: 9pt;
    line-height: 1.2;
}
.order-element .grid-cell {
    padding: 0.5em 0;
}

.empty-tip {
    text-align: center;
    font-style: italic;
    margin: 10em;
}

.error-box, .message-box {
    list-style: outside none none;
    margin: 1em auto;
    padding: 0;
}
.error-box LI {
    color: #D61900;
}
.message-box LI {
    color: #439f00;
}

UL {
    list-style: none;
}
UL LI.lh {
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}
UL LI {
    margin-top: 1em;
}

TABLE {
    width: 100%;
    border-collapse: collapse;
    margin: 2em auto;
}
TABLE TR.table-header TD {
    font-weight: bold;
    text-align: center;
}
TABLE TD {
    font-size: 9pt;
    padding: 0.2em 0.3em;
    border: 1px solid #D3D4D4;
    vertical-align: top;
}

H1, H2, H3 {
    margin: 0 auto;
    text-align: center;
}

TABLE.invoice {

}
TABLE.invoice TD {
    border: 0 none;
    font-size: 80%;
    padding: 0.4em 0.6em;
}
TABLE.invoice TD.border {
    border: 1px solid #6b6b6b;
}

TABLE.invoice-bank {
    width: 90%;
    font-size: 80%;
    border: 1px solid #d9d9d9;
}
TABLE.invoice-bank TD {
    border: 0 none;
    font-size: 90%;
}
