.trip-list {
    display: flex;
    flex-wrap: wrap;
    padding: 0 1%;
    margin-top: 1em;
}
.trip-list-element {
    border-radius: 4px;
    margin: 0.8em;
    background-color: #ffffff;
    box-shadow: 0 0 4px 0 rgba(83, 114, 130, 0.3);
    animation: 1s ease-in-out 0s normal both 1 running;
    flex-basis: calc((100% - (0.8em * 6))/3);
    flex-grow: 0;
}
.list-element-image {
    background-position: center top;
    background-size: cover;
    border-radius: 4px 4px 0 0;
    height: 18em;
    position: relative;
}
.list-element-image > A {
    display: block;
    height: 100%;
}
.list-element-price {
    background-image: linear-gradient(25deg, rgba(50, 50, 50, 0.8), rgba(0, 0, 0, 0) 50%);
    color: rgba(255,255,255,0.8);
    height: 100%;
    padding: 13.5em 0 0 5%;
    font-size: 115%;
}
.list-element-price > DIV {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 6px;
    display: inline-block;
    padding: 0.3em 0.8em;
}
.list-element-price SPAN {
    color: #ffffff;
}

.list-element-desc {
    padding: 5%;
    display: flex;
    flex-direction: column;
    align-content: stretch;
}
.list-element-cities {
    font-size: 90%;
    min-height: 4.5em;
    color: rgba(83, 114, 130, 0.65);
}
.list-element-types {
    font-size: 80%;
    padding: 5%;
    position: absolute;
    top: 0;
    right: 0;
    text-align: right;
}
.list-element-cities > SPAN, .list-element-types > SPAN {
    color: #537282;
    background-color: #FFFFFF;
    border-radius: 2px;
    display: inline-block;
    line-height: 1;
    margin: 0.1em 0;
    padding: 0.2em 0.4em;
    box-shadow: 0 0 2px 0 rgba(83, 114, 130, 0.3);
}
.list-element-dates {
    font-size: 80%;
    min-height: 3.1em;
    margin-top: 0.5em;
    color: rgb(102, 102, 102);
    display: flex;
    justify-content: space-between;
}
.list-element-dates > DIV {
    flex-basis: 50%;
}
.list-element-desc H3 {
    min-height: 3em;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 130%;
    margin-bottom: 0.3em;
}
.list-element-desc H3 A {
    color: inherit;
}
.list-element-desc A {
    color: #D61900;
    text-transform: uppercase;
    font-size: 85%;
}
.list-element-desc .list-element-book {
    margin-top: 0.5em;
    display: flex;
    justify-content: space-between;
}
.list-element-desc .list-element-book > A:last-child {
    font-size: 80%;
    text-transform: none;
}
.trip-list-banners > DIV {
    float: left;
    position: relative;
    overflow: hidden;
    width: 47%;
    height: 20vw;
    margin: 2% 1% 0;
}
.trip-list-banners > DIV:nth-child(1) {
    margin-left: 2%;
}
.trip-list-banners > DIV:nth-child(2) {
    margin-right: 2%;
}
.trip-list-banner, .trip-list-banner:hover, .trip-list-banner:focus {
    box-shadow: 0 0 4px 0 rgba(83, 114, 130, 0.3);
    animation: 1s ease-in-out 0s normal both 1 running;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    color: #ffffff;
    position: absolute;
    overflow: hidden;
}
.trip-list-banner.selected {
    z-index: 100;
}
.trip-list-banner .list-banner-back {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.3) 25%, rgba(0, 0, 0, 0) 100%);
    height: 100%;
    width: 100%;
    position: relative;
    border-radius: 4px;
    padding: 1.5em;
}
.trip-list-banner .list-banner-header {
    font-size: 200%;
    font-weight: bold;
    position: absolute;
    bottom: 2.6em;
    color: #ffffff;
}
.trip-list-banner .clear {
    bottom: 3em;
    position: absolute;
    width: 90%;
}
.trip-list-banner .list-banner-date {
    float: left;
}
.trip-list-banner .list-banner-price {
    color: rgba(255, 255, 255, 0.8);
    float: right;
}
.trip-list-banner .list-banner-price > SPAN {
    color: #ffffff;
    font-size: 130%;
}
.trip-list-banner A[role="button"] {
    font-size: 85%;
    text-transform: uppercase;
    position: absolute;
    bottom: 1.8em;
}
.trip-list-banner .hot {
    background-color: red;
    font-weight: bold;
    padding: 4em 6em 0.8em;
    position: absolute;
    right: -7em;
    text-transform: uppercase;
    top: -1.8em;
    transform: rotate(35deg);
}
.scroll-bar {
    text-align: center;
    margin-top: 3em;
}
.scroll-bar > A {
    padding: 0.6em 2em;
}

.trip-list-seotext {
    margin: 3em 2%;
}


@media (min-width: 1290px) {
}


@media (max-width: 1020px) {
    .list-filters {
        font-size: 80%;
    }
}


@media (max-width: 770px) {
    .list-filters {
        border-radius: 4px;
        font-size: 110%;
        display: none;
    }
    .list-filters-element, .list-filters-clear {
        margin: 0.5em 0;
        flex-grow: 1;
    }
    .list-filters-label {
        width: 100%;
    }
    .list-filters-clear > A:after {
        content: attr(title);
        margin-left: 0.5em;
    }
    /*.trip-list-element {*/
        /*margin: 0.5em;*/
        /*flex-basis: calc((100% - 2em)/2);*/
    /*}*/
    .list-element-image {
        height: 13em;
    }
    .list-element-price {
        padding: 8em 0 0 5%;
        font-size: 130%;
    }
    .trip-list-banners > DIV {
        width: 96%;
        height: 18em;
        margin: 2% 2% 0;
    }
    .trip-list-banner .list-banner-header {
        font-size: 170%;
        bottom: 3em;
        max-width: 80%;
    }
    .list-element-desc H3 {
        font-size: 150%;
    }
}


@media (max-width: 430px) {
    .list-filters {
        font-size: 130%;
    }
    .trip-list-element {
        margin: 0.3em;
        flex-basis: calc(100% - 0.6em);
    }
    .list-element-image {
        height: 20em;
    }
    .list-element-price {
        padding: 11.5em 0 0 5%;
        font-size: 145%
    }
}