HEADER {
    height: 20vh;
    min-height: 0;
    background: #ffffff none;
}
HEADER .user-info A {
    color: #537282;
}
HEADER .phone {
    color: #537282;
    text-shadow: none;
}


.trip-element {

}
.trip-element-header {
    background-color: #ffffff;
    padding-bottom: 2em;
}
.trip-element H1 {
    color: #D61900;
    text-align: center;
    font-size: 250%;
}
.trip-element-subheader {
    width: 50%;
    margin: 0 auto;
}
.trip-element-subheader .grid-cell:nth-child(2) {
    text-align: right;
}
.trip-element H3 {
    margin: 2em auto 1em;
    text-align: center;
}

.trip-element-desc {
    width: 80%;
    margin: 8vh auto 0;
    min-height: 10em;
}
.trip-element-actions {
    width: 80%;
    margin: 4vh auto 0;
    /*background-color: #ffffff;*/
    border-radius: 4px;
    /*box-shadow: 0 0 4px 0 rgba(83, 114, 130, 0.3);*/
    padding: 0 2%;
}
.trip-element-actions A {
    margin: 0.5em;
    box-shadow: none !important;
}
.trip-element-actions .price {
    font-size: 170%;
}
.trip-element-actions .addthis_inline_share_toolbox {
    float: right;
}
.trip-element-actions .addthis_inline_share_toolbox .at-share-btn {
    background-color: transparent !important;
}
.trip-element-actions .addthis_inline_share_toolbox .at-icon {
    fill: #f6532f !important;
}
.trip-element-actions .addthis_inline_share_toolbox .at-icon:hover {
    fill: #537282 !important;
}
.trip-element-actions .action-print {
    float:right;
    margin-top:0.5em;
}
.slider-frame.frame-photo {
    height: 65vh;
    margin-top: 8vh;
}
.slider-frame.frame-photo .action-frame {
    transform: none;
    opacity: 0;
    background: transparent no-repeat center top / cover;
}
.slider-frame.frame-photo .action-frame.selected {
    opacity: 1;
}
.slider-frame.frame-photo .navigation {
    bottom: 0;
    font-size: 300%;
    line-height: 10vh;
    opacity: 1;
    top: auto;
}
.slider-frame.frame-photo .navigation.left {
    left: 2%;
}
.slider-frame.frame-photo .navigation.right {
    right: 2%;
}
.slider-frame .action-frame .frame-description {
    height: 10vh;
    text-align: center;
}
.slider-selector.selector-photo {
    bottom: 1em;
    font-size: 60%;
    text-align: center;
    width: 100%;
}
.slider-selector.selector-photo A {
    color: #ffffff;
    margin: 0 0.5em;
}
.slider-selector.selector-photo A.selected {
    color: #D61900;
}

.trip-element-dates {
    width: 60%;
    margin: 0 auto;
}
.trip-element-dates .dates-element {
    float: left;
    margin: 0.5em;
}
.trip-element-dates .dates-element LABEL {
    padding: 0.5em 1em 0.5em 2.5em;
    position: relative;
    transition: all 0.3s ease 0s;
    border-radius: 4px;
    display: inline-block;
    width: 12em;
}
.trip-element-dates .dates-element INPUT[type="checkbox"], .trip-element-dates .dates-element INPUT[type="radio"] {
    width: auto;
    position: absolute;
    z-index: 10;
    left: 0.5em;
    top: 0.8em;
}
.trip-element-dates .dates-element INPUT[type="checkbox"]:checked + LABEL,
.trip-element-dates .dates-element LABEL.checked,
.trip-element-dates .dates-element INPUT[type="radio"]:checked + LABEL {
    background-color: #ffffff !important;
    box-shadow: 0 0 4px 0 rgba(83, 114, 130, 0.3);
}
.trip-element-dates .dates-element INPUT[type="radio"][disabled] + LABEL {
    color: rgba(255, 0, 0, 0.5);
}

.trip-element-hotels {
    width: 80%;
    background-color: #ffffff;
    padding: 2%;
    margin: 2em auto;
    border-radius: 4px;
    box-shadow: 0 0 4px 0 rgba(83, 114, 130, 0.3);
}
.trip-element-hotels .hotel-images IMG {
    border-radius: 4px;
    width: 22.5%;
    margin: 1%;
}

.trip-element-days {
    width: 80%;
    background-color: #ffffff;
    padding: 2%;
    margin: 2em auto;
    border-radius: 4px;
    box-shadow: 0 0 4px 0 rgba(83, 114, 130, 0.3);
}
.trip-element-days .days-element {
    padding: 2%;
}
.trip-element-days .days-header {
    display: block;
    font-size: 120%;
    text-align: center;
    transition: all 0.5s ease 0s;
    margin-bottom: 0.5em;
    color: #D61900;
}
.trip-element-days .days-body IMG {
    border-radius: 4px;
    width: 22.5%;
    margin: 1%;
}


.trip-element-included {
    width: 80%;
    background-color: #ffffff;
    padding: 2%;
    margin: 2em auto;
    border-radius: 4px;
    box-shadow: 0 0 4px 0 rgba(83, 114, 130, 0.3);
}
.trip-element-included .fa-li {
    color: #D61900;
}
.trip-element-included LI {
    margin-bottom: 1em;
}
.trip-element-extras {
    width: 80%;
    background-color: #ffffff;
    padding: 2%;
    margin: 2em auto;
    border-radius: 4px;
    box-shadow: 0 0 4px 0 rgba(83, 114, 130, 0.3);
}
.trip-element-extras LI {
    margin-bottom: 1em;
}
.trip-element-extras INPUT.fa-li {
    left: -2.3em;
    top: 0.4em;
}
.trip-element INPUT[type="submit"] {
    font-size: 110%;
    margin: 0 auto;
    padding: 0.6em 1.5em;
    display: block;
}
.trip-element-photos {
    margin: 8vh auto 0;
    width: 80%;
}
.trip-element-photos .element-image {
    border-radius: 4px;
    width: 22.7%;
    margin: 1%;
}

.fast-form {
    position: fixed;
    bottom: 8em;
    right: 1em;
    box-shadow: 0 0 10px 0 rgba(83, 114, 130, 0.3);
    z-index: 100;
    background-color: rgba(255, 255, 240, 1);
    border-radius: 4px;
    padding: 1.5em;
    animation: 1s ease 30s normal both 1 running;
    animation-name: fadeInLeft;
    width: 26em;
}
.fast-form FORM {
    margin: 0;
    width: 100%;
    font-size: 110%;
}
.fast-form FORM INPUT {
    width: 100%;
    padding: 0.2em 0.5em;
    margin-top: 0.6em !important;
}
.fast-form .js.Close {
    position: absolute;
    top: 0.2em;
    left: 0.2em;
}
.fast-form .js.Close.removed .fa-arrow-circle-right:before {
    content: "\f0a8";
}

.fast-form .fast-header {
    color: #D61900;
    text-align: center;
    margin: 0.5em auto;
    font-size: 200%;
}
.fast-form .box-select {
    background-color: rgba(255, 255, 255, 1);
}
.slideInRight80 {
    animation-name: slideInRight80;
}
@keyframes slideInRight80 {
    0% {
        transform: translateX(80%);
        -webkit-transform: translateX(80%);
        -ms-transform: translateX(80%);
    }
    100% {
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
    }
}
@-webkit-keyframes slideInRight80 {
    0% {
        transform: translateX(80%);
        -webkit-transform: translateX(80%);
        -ms-transform: translateX(80%);
    }
    100% {
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
    }
}
.slideOutRight80 {
    animation-name: slideOutRight80 !important;
}
@keyframes slideOutRight80 {
    0% {
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
    }
    100% {
        transform: translateX(80%);
        -webkit-transform: translateX(80%);
        -ms-transform: translateX(80%);
    }
}
@-webkit-keyframes slideOutRight80 {
    0% {
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
    }
    100% {
        transform: translateX(80%);
        -webkit-transform: translateX(80%);
        -ms-transform: translateX(80%);
    }
}


@media (max-width: 770px) {
    .trip-element-actions .action-print {
        display: none;
    }
    .trip-element-subheader {
        width: 80%;
    }
    .trip-element-photos {
        width: 90%;
    }
    .trip-element-photos .element-image {
        width: 30.9%;
    }
    .trip-element-hotels .hotel-images IMG {
        width: 30.7%;
    }
    .fast-form {
        display: none;
    }
}

@media (max-width: 430px) {
    .trip-element-actions {
        width: 90%;
    }
    .trip-element-subheader {
        width: 96%;
    }
    .trip-element-dates {
        width: 80%;
    }
    .trip-element-desc, .trip-element-days, .trip-element-hotels, .trip-element-included, .trip-element-extras {
        width: 90%;
    }
    .trip-element-photos .element-image {
        width: 47%;
    }
    .trip-element-hotels .hotel-images IMG {
        width: 47.5%;
    }
}
