.user-data {
    width: 80%;
    margin: 3em auto 0;
    padding-bottom: 3em;
    border-bottom: 1px solid rgba(83, 114, 130, 0.3);
}
.user-data .company-menu {
    margin: 1em 0;
}
.user-data .company-menu A {
    margin: 0 0 0 1em;
}
.user-data .company-menu A:after {
    content: "\00b7";
    margin-left: 1em;
    color: #537282;
    font-weight: bold;
}
.user-data .company-menu A:first-child {
    margin-left: 0;
}
.user-data .company-menu A:last-child:after {
    content: "";
}