* {
    margin: 0;
    box-sizing: border-box;
}
HTML, BODY {height:100%;}
BODY {
    background-color: #FFFFFF;
    font-family: sans-serif;
    font-size: 12px;
    line-height: 1.5;
    padding: 1em;
}
TABLE TD {
    vertical-align: top;
    font-size: 12px;
    line-height: 1.5;
}
IMG {
    border:0px;
}
.mainSections {
    padding: 5px;
    background-color: #f8f8f8;
    border: 1px solid #e7e7e7;
    overflow: hidden;
    border-radius: 5px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 1px rgba(0, 0, 0, .075);
    position: relative;
    z-index: 2;
}
A.mainButton {
    border: 1px solid transparent;
    border-radius: 3px 3px 3px 3px;
    float: left;
    line-height: 1;
    margin: 0 10px;
    padding: 0 2px;
}
A.mainButton.selected {
    border: 1px solid #f5e79e;
    background: #fcf8e3;
    margin: 0px 10px;
}
A.mainButton:hover {
    background: #d9edf7;
    border: 1px solid #9acfea;
}
.mainSection {
    width: 50px;
    height: 50px;
}
.subSections {
    margin: 0px 50px;
    padding: 0px 25px;
    background-color: #F1F8FA;
    /*border-top: 1px solid #E0E6E8;*/
    overflow: hidden;
    border-radius: 0 0 5px 5px;
    position: relative;
    z-index: 1;
}
.subSections A {
    display: inline-block;
    padding:2px 5px;
    margin: 5px;
    color: #3F7D96;
    text-decoration: none;
    border: 1px solid #F1F8FA;
    border-radius: 3px;
    font-size: 13px;
}
.subSections A:hover, .subSections A.selected {
    border: 1px solid #f5e79e;
    background: #fcf8e3;
    color: #3F7D96;
}
#Auth {
    margin: 7px 10px;
}
H3.Header {
    margin:10px 85px;
    font-size:20px;
}
A {
    color: #3F7D96;
}
A:hover {
    color:red;
}
SPAN.PartLink {
}
A.PartLink {
}
SELECT {
    font-size: 110%;
}
TABLE.border {
    border-collapse:collapse;
    border:1px solid #e0e6e8;
}
.border {
    border:1px solid #e0e6e8;
    padding:5px;
}
TH.border {
    background-color:#EFEFEF;
    padding:5px 8px;
    font-size:12px;
}
#SaveIt {
    margin:15px 0px;
    clear:both;
}

INPUT {
    border: 1px solid #bbc0c0;
    font-size:11px;
    padding: 3px;
}
INPUT[disabled] {
    color: #BBC0C0;
    cursor: not-allowed !important;
    background-color: #efefef;
}
BUTTON[disabled], INPUT[type="button"][disabled] {
    cursor: not-allowed !important;
    opacity: 0.5;
}
INPUT[type="radio"], INPUT[type="checkbox"] {
    border: 0 none;
    margin: 0 0.5em;
}
TEXTAREA {
    border: 1px solid #bbc0c0;
    font-size: 12px;
    font-family: sans-serif;
    padding: 3px;
}

INPUT.gray, INPUT.blue, INPUT.red, INPUT.green, BUTTON, INPUT[type='button'], INPUT[type='submit'], *[role='button'] {
    cursor: pointer;
    padding: 2px 10px;
    margin: 0 auto;
    font-size: inherit;
    border-radius: 2px;
    border: 1px solid #E0E0E0;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5);
    text-decoration: none;
    display: inline-block;
    color: rgb(80, 80, 80);
}
*[role='button'] {
    padding: 2px 10px 0;
}
.gray, INPUT[type='button'], *[role='button'] {
    background-image: -webkit-linear-gradient(top,#F5F5F5 0,#E0E0E0 100%);
    background-image: -o-linear-gradient(top,#F5F5F5 0,#E0E0E0 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#F5F5F5),to(#E0E0E0));
    background-image: linear-gradient(to bottom,#F5F5F5 0,#E0E0E0 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#ffe0e0e0', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    background-repeat: repeat-x;
}
.gray:hover, INPUT[type='button']:hover, *[role='button']:hover {
    background: #E0E0E0 0 -1em;
    color: inherit;
}
.blue, INPUT[type='button'].blue, INPUT[type='submit'].blue, *[role='button'].blue {
    /*background:#d0e4ff;*/
    color: #31708f;
    border-color: #9acfea !important;
    background-image: -webkit-linear-gradient(top,#d9edf7 0, #b9def0 100%);
    background-image: -o-linear-gradient(top,#d9edf7 0,#b9def0 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#d9edf7),to(#b9def0));
    background-image: linear-gradient(to bottom,#d9edf7 0,#b9def0 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fd9edf7', endColorstr='#fb9def0', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    background-repeat: repeat-x;
}
.blue:hover, INPUT[type='button'].blue:hover, INPUT[type='submit'].blue:hover, *[role='button'].blue:hover {
    background: #b9def0 0 -1em;
}

.red, INPUT[type='button'].red, INPUT[type='submit'].red, *[role='button'].red {
    /*background:#ffd0d0;*/
    color: #bf3431;
    border-color: #dca7a7 !important;
    background-image: -webkit-linear-gradient(top,#f2dede 0, #e7c3c3 100%);
    background-image: -o-linear-gradient(top,#f2dede 0,#e7c3c3 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#f2dede),to(#e7c3c3));
    background-image: linear-gradient(to bottom, #f2dede 0, #e7c3c3 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff2dede', endColorstr='#fe7c3c3', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    background-repeat: repeat-x;
}
.red:hover, INPUT[type='button'].red:hover, INPUT[type='submit'].red:hover, *[role='button'].red:hover {
    background: #e7c3c3 0 -1em;
}
.green, INPUT[type='submit'], INPUT[type='button'].green, *[role='button'].green {
    /*background:#dbffd0;*/
    color: #3c763d;
    border-color: #b2dba1 !important;
    background-image: -webkit-linear-gradient(top,#dff0d8 0, #c8e5bc 100%);
    background-image: -o-linear-gradient(top,#dff0d8 0,#c8e5bc 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#dff0d8),to(#c8e5bc));
    background-image: linear-gradient(to bottom, #dff0d8 0, #c8e5bc 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fdff0d8', endColorstr='#fc8e5bc', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    background-repeat: repeat-x;
}
.green:hover, INPUT[type='submit']:hover, INPUT[type='button'].green:hover, *[role='button'].green:hover {
    background: #c8e5bc 0 -1em;
}
.yellow {
    /*background:#dbffd0;*/
    color: #8a6d3b;
    border-color: #f5e79e !important;
    background-image: -webkit-linear-gradient(top,#fcf8e3 0, #f8efc0 100%);
    background-image: -o-linear-gradient(top,#fcf8e3 0,#f8efc0 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#fcf8e3),to(#f8efc0));
    background-image: linear-gradient(to bottom, #fcf8e3 0, #f8efc0 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffcf8e3', endColorstr='#ff8efc0', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    background-repeat: repeat-x;
}
.yellow:hover {
    background: #f8efc0 0 -1em;
}
.transparent, INPUT[type='submit'].transparent, INPUT[type='button'].transparent, *[role='button'].transparent {
    background: transparent;
}

FORM {
    margin:0;
}
A.SectionLineDigest {
    color:#132f5c;
}
A.SectionLine {
    color:#4b1e12;
    font-weight:bold;
}
A.SectionLineEdit {
    color:#443b39;
}

/*********************************/

.EditData {
    width: 90%;
    margin: 0 auto;
}

FIELDSET {
    border: 1px solid #E5E5E5;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 3px;
}
LEGEND {font-size:110%;color:#888888;padding:0 10px;margin-left:10px;}
LEGEND B {color:#444444;}

hr {
    background-color: #e5e5e5;
    border: 0 none;
    height: 1px;
}

#Frames {
    margin: 0 3%;
    width: 94%;
}
#rtd {
    width: 20%;
    border-right: 2px solid #E5E5E5;
    padding-right: 20px;
    overflow: hidden;
    max-width: 350px;
}
#mtd {
    padding-left:20px;
}
#rtd A {
    text-decoration:none;
}
#rtd .section-name {
    display: inline-block;
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
}
.module-name {
    color: #000000;
}

IMG.icon {
    vertical-align: middle;
    margin: 0 5px;
}

.PropertiesTable TD {
    line-height: 1.2;
    vertical-align: middle;
}
.PropertiesTable HR {
    margin: 0.5em auto;
}

#page_operations {padding:0px 7px;}

#Filter {margin:10px;}

.contentTable TD {
    vertical-align: middle;
}

.error {
    color: #bf3431;
    background-color: #f2dede;
    border: 1px solid #dca7a7;
    width: 50%;
    padding: 1em 2em;
    margin: 2em auto;
    border-radius: 3px;
}
.attention {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border: 1px solid #f5e79e;
    width: 50%;
    padding: 1em 2em;
    margin: 2em auto;
    border-radius: 3px;
}
.message {
    color: #3c763d;
    background-color: #dff0d8;
    border: 1px solid #b2dba1;
    width: 50%;
    padding: 1em 2em;
    margin: 2em auto;
    border-radius: 3px;
}
.information {
    color: #31708f;
    background-color: #d9edf7;
    border: 1px solid #9acfea;
    width: 50%;
    padding: 1em 2em;
    margin: 2em auto;
    border-radius: 3px;
}

#TemplateBody {
    font-family: monospace;
    font-size: 13px;
}