.the-bus-container {
    display: -webkit-flex;
    display: flex;
    flex-flow: row-reverse nowrap;
    -webkit-flex-flow: row-reverse nowrap;
    justify-content: space-around;
    align-items: stretch;
}
.bus-name {
    text-align: center;
    margin-bottom: 1em;
}
.bus-legend {
    width: 50%;
}
.legend-row {
    display: -webkit-flex;
    display: flex;
    flex-flow: row nowrap;
    -webkit-flex-flow: row nowrap;
    justify-content: space-between;
    align-items: stretch;
}
.legend-row > * {
    margin: 0.2em 0;
}
.legend-row > *:nth-child(1), .legend-row > *:nth-child(3) {
    width: 2em;
}
.legend-row > *:nth-child(2) {
    width: 80%;
}
.the-bus {
    display: flex;
    flex-flow: column;
    width: 17em;
    border: 1px solid rgb(78, 78, 80);
    border-radius: 20px 20px 5px 5px;
    background-color: rgb(240, 240, 240);
}
.bus-row {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: stretch;
}

.bus-place {
    border: 1px solid rgb(180, 180, 180);
    border-radius: 3px;
    margin: 0.1em;
    width: 3em;
    line-height: 2.5;
    text-align: center;
    cursor: pointer;
    /*background-color: rgb(255, 255, 255);*/
    /*color: rgb(78, 78, 78);*/
    color: rgb(60, 118, 61);
    background-color: rgb(223, 240, 216);
    border: 1px solid rgb(178, 219, 161);
    transition: all 0.2s ease-out 0s;
}
.bus-place:hover {
    background-color: rgb(200, 229, 188);
}
.bus-place.reserved {
    cursor: not-allowed;
    color: rgb(138, 109, 59);
    background-color: rgb(252, 248, 227);
    border: 1px solid rgb(245, 231, 158);
}
.bus-place.reserved:hover {
    background-color: rgb(252, 248, 227);
}
.bus-place.booked {
    cursor: not-allowed;
    color: rgb(169, 68, 66);
    background-color: rgb(242, 222, 222);
    border: 1px solid rgb(220, 167, 167);
}
.bus-place.booked:hover {
    background-color: rgb(242, 222, 222);
}
.bus-place.current, .bus-place:active {
    color: rgb(49, 112, 143);
    background-color: rgb(217, 237, 247);
    border-color: rgb(188, 223, 241);
}
.bus-place.current:hover, .bus-place:active:hover {
    background-color: rgb(185, 222, 240);
}

.bus-empty {
    width: 3em;
    margin: 0.1em;
    border: 1px solid transparent;
}
.driver-place {
    width: 3em;
    line-height: 2.5;
    margin: 1em 0.1em;
    border: 1px solid transparent;
    background: transparent url('/img/steering-wheel.svg') no-repeat center center / contain;
}