.datepickerdropdown {
    background-color: #FBFBFB;
    border:1px solid #e6e6e6;
    border-radius:5px;
    padding:10px;
    position:absolute;
    text-align:center;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.5);
    z-index: 10;
}
.datepickerdropdown table {
    border-collapse:collapse;
    margin:auto;
}
.datepickerdropdown input {
    border:1px solid #e6e6e6;
    border-radius:3px;
    margin:1px;
    padding:2px 5px;
    text-align:center;
}
.datepickerdropdown table input[type=button] {
    width: 2.2em;
}
.datepickerdropdown input[type=button] {
}
.datepickerdropdown input[type=button]:hover {
    background-color: #d0e4ff;
}
.datepickerdropdown input[type=button]:active {
    background-color: #dbffd0;
}
.datepickerdropdown input.selected {
    background-color: #dbffd0;
}
.datepickerdropdown input[type=text] {
    background:#fff;
    color:#000;
}
.datepickerdropdown input.today {
    border: 1px solid red;
    background-color: #FFD0D0
}
.datepickerdropdown input.othermonth {
    opacity: 0.5;
}
.datepickershow img {
    border:0;
}
.monthDsp {
    width: 68px;
}
.daysRow {
}
