.floatDiv {
    position:fixed;
    display:none;
    z-index:1000;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(250, 250, 250, 1);
    border: 1px solid rgba(210, 210, 210, 1);
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}
.floatDiv .header {
    background-color: rgba(240, 240, 240, 1);
    padding: 1em;
    border-radius: 5px 5px 0 0;
    border-bottom: 1px solid rgba(210, 210, 210, 1);
}
#closeButton {
    float: right;
    cursor: pointer;
    background: transparent url('/admin/images/close.gif') no-repeat center center / contain;
    width: 14px;
    height: 13px;
}
.floatDiv .content {
    padding: 1.5em 1.5em 2.5em;
    min-height: 10em;
}
.floatDiv .buttons {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin: 0 -1.5em;
    padding: 1em;
    background-color: rgba(250, 250, 250, 1);
    border-radius: 0 0 5px 5px;
}
.floatDiv .buttons INPUT[type="submit"] {
    min-width: 7em;
}
.background {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    top: 0;
    left: 0;
    z-index: 999;
}